
<div class="panel-appointment">

    <h2>CONTRACT TO PURCHASE</h2>

    <div>
      <a title="This is a binding legal contract... consult an attorney before submitting."></a>
    </div>

    <div>
      <ul class="button">
        <button data-toggle="collapse" class="btn btn-primary" href="#offer<%= @property.id %>">Start Contract</button>
      </ul>
    </div>
</div>





  <div class="tab-content">
    <div id="offer<%= @property.id %>" class="collapse">

      <%= form_for [@property, AddOffer.new] do |o| %>

          <div class="row">
            <div class="col-sm-2">

              <div class="btn-group-vertical">
                <button type="button" id="buyers" class="btn btn-primary btn-lg">Buyers</button>
                <button type="button" id="buyeroffers" class="btn btn-primary btn-lg">Buyer Offers</button>
                <button type="button" id="purchprice" class="btn btn-primary btn-lg">Price</button>
                <button type="button" id="duration" class="btn btn-primary btn-lg">Duration</button>
                <button type="button" id="pnsagreement" class="btn btn-primary btn-lg">Agreement</button>
                <button type="button" id="closing" class="btn btn-primary btn-lg">Closing</button>

                <button type="button" id="escrow" class="btn btn-primary btn-lg">Escrow</button>

                <button type="button" id="contingencies" class="btn btn-primary btn-lg">Contingencies</button>

                <button type="button" id="mortgage" class="btn btn-primary btn-lg">Mortgage</button>
                <button type="button" id="inspections" class="btn btn-primary btn-lg">Inspections</button>
                <button type="button" id="representations" class="btn btn-primary btn-lg">Representations</button>

                <button type="button" id="buyerdefault" class="btn btn-primary btn-lg">Buyer Default</button>

                <button type="button" id="addterms" class="btn btn-primary btn-lg">Additional Terms</button>
              </div>

            </div>

            <div class="col-sm-10">
              <div>
                <div id="buyers1" class="panel-default-offer-inner" style="display:none;">
                  <div>
                    What percentage of the purchase price will you be financing?
                    <ul> 75, 80, 85, 90, 95, other</ul>

                      <%= o.label :percentage_financing %>
                      <%= o.number_field :percentage_financing, class: 'form-control', placeholder: "Percentage Financing" %>

                  </div>
                  <div>
                    Who will be your escrow agent?
                    <%= o.label :escrow_agent %>
                    <%= o.text_field :escrow_agent, class: 'form-control', placeholder: "Escrow Agent" %>
                  </div>
                  <div>
                    <div>
                      Rate the condition of the house.
                    </div>
                  </div>
                  <div class="panel-rating-header-second-last">
                    Kitchen

                    <div class="panel panel-rating">
                      <div class="star-rating1">
                        <%= o.radio_button :kitchen_rating, '1' %> <%= o.label :kitchen_rating, "Replace Immediatley" %>
                        <%= o.radio_button :kitchen_rating, '2' %> <%= o.label :kitchen_rating, "Replace in the foreseable future" %>
                        <%= o.radio_button :kitchen_rating, '3' %> <%= o.label :kitchen_rating, "average wear and tear" %>
                        <%= o.radio_button :kitchen_rating, '4' %> <%= o.label :kitchen_rating, "better than expected" %>
                        <%= o.radio_button :kitchen_rating, '5' %> <%= o.label :kitchen_rating, "brand new or ideal" %>

                      </div>
                    </div>
                  </div>
                  <div class="panel-rating-header-last">
                    Bathroom

                    <div class="panel panel-rating">
                      <div class="star-rating2">
                        <%= o.radio_button :bathroom_rating, '1' %> <%= o.label :bathroom_rating, "Replace Immediatley" %>
                        <%= o.radio_button :bathroom_rating, '2' %> <%= o.label :bathroom_rating, "Replace in the foreseable future" %>
                        <%= o.radio_button :bathroom_rating, '3' %> <%= o.label :bathroom_rating, "average wear and tear" %>
                        <%= o.radio_button :bathroom_rating, '4' %> <%= o.label :bathroom_rating, "better than expected" %>
                        <%= o.radio_button :bathroom_rating, '5' %> <%= o.label :bathroom_rating, "brand new or ideal" %>
                      </div>
                    </div>
                  </div>
                  <div class="panel-rating-header-last">
                    Windows

                    <div class="panel panel-rating">
                      <div class="star-rating3">
                        <%= o.radio_button :windows_rating, '1' %> <%= o.label :windows_rating, "Replace Immediatley" %>
                        <%= o.radio_button :windows_rating, '2' %> <%= o.label :windows_rating, "Replace in the foreseable future" %>
                        <%= o.radio_button :windows_rating, '3' %> <%= o.label :windows_rating, "average wear and tear" %>
                        <%= o.radio_button :windows_rating, '4' %> <%= o.label :windows_rating, "better than expected" %>
                        <%= o.radio_button :windows_rating, '5' %> <%= o.label :windows_rating, "brand new or ideal" %>
                      </div>
                    </div>
                  </div>
                  <div class="panel-rating-header-last">
                    Garage

                    <div class="panel panel-rating">
                      <div class="star-rating4">
                        <%= o.radio_button :garage_rating, '1' %> <%= o.label :garage_rating, "Replace Immediatley" %>
                        <%= o.radio_button :garage_rating, '2' %> <%= o.label :garage_rating, "Replace in the foreseable future" %>
                        <%= o.radio_button :garage_rating, '3' %> <%= o.label :garage_rating, "average wear and tear" %>
                        <%= o.radio_button :garage_rating, '4' %> <%= o.label :garage_rating, "better than expected" %>
                        <%= o.radio_button :garage_rating, '5' %> <%= o.label :garage_rating, "brand new or ideal" %>
                      </div>
                    </div>
                  </div>
                  <div class="panel-rating-header-last">
                    Roof

                    <div class="panel panel-rating">
                      <div class="star-rating5">
                        <%= o.radio_button :roof_rating, '1' %> <%= o.label :roof_rating, "Replace Immediatley" %>
                        <%= o.radio_button :roof_rating, '2' %> <%= o.label :roof_rating, "Replace in the foreseable future" %>
                        <%= o.radio_button :roof_rating, '3' %> <%= o.label :roof_rating, "average wear and tear" %>
                        <%= o.radio_button :roof_rating, '4' %> <%= o.label :roof_rating, "better than expected" %>
                        <%= o.radio_button :roof_rating, '5' %> <%= o.label :roof_rating, "brand new or ideal" %>
                      </div>
                    </div>
                  </div>
                  <div class="panel-rating-header-last">
                    Plumbing

                    <div class="panel panel-rating">
                      <div class="star-rating6">
                        <%= o.radio_button :plumbing_rating, '1' %> <%= o.label :roof_rating, "Replace Immediatley" %>
                        <%= o.radio_button :plumbing_rating, '2' %> <%= o.label :roof_rating, "Replace in the foreseable future" %>
                        <%= o.radio_button :plumbing_rating, '3' %> <%= o.label :roof_rating, "average wear and tear" %>
                        <%= o.radio_button :plumbing_rating, '4' %> <%= o.label :roof_rating, "better than expected" %>
                        <%= o.radio_button :plumbing_rating, '5' %> <%= o.label :roof_rating, "brand new or ideal" %>
                      </div>
                    </div>
                  </div>

                  <div class="panel-rating-header-last">
                    Furnace

                    <div class="panel panel-rating">
                      <div class="star-rating7">
                        <%= o.radio_button :furnace_rating, '1' %> <%= o.label :furnace_rating, "Replace Immediatley" %>
                        <%= o.radio_button :furnace_rating, '2' %> <%= o.label :furnace_rating, "Replace in the foreseable future" %>
                        <%= o.radio_button :furnace_rating, '3' %> <%= o.label :furnace_rating, "average wear and tear" %>
                        <%= o.radio_button :furnace_rating, '4' %> <%= o.label :furnace_rating, "better than expected" %>
                        <%= o.radio_button :furnace_rating, '5' %> <%= o.label :furnace_rating, "brand new or ideal" %>
                      </div>
                    </div>
                  </div>
                  <div class="panel-rating-header-last">
                    Elelctric

                    <div class="panel panel-rating">
                      <div class="star-rating8">
                        <%= o.radio_button :electric_rating, '1' %> <%= o.label :electric_rating, "Replace Immediatley" %>
                        <%= o.radio_button :electric_rating, '2' %> <%= o.label :electric_rating, "Replace in the foreseable future" %>
                        <%= o.radio_button :electric_rating, '3' %> <%= o.label :electric_rating, "average wear and tear" %>
                        <%= o.radio_button :electric_rating, '4' %> <%= o.label :electric_rating, "better than expected" %>
                        <%= o.radio_button :electric_rating, '5' %> <%= o.label :electric_rating, "brand new or ideal" %>
                      </div>
                    </div>
                  </div>
                  <div class="panel-rating-header-last">
                    Basement

                    <div class="panel panel-rating">
                      <div class="star-rating9">
                        <%= o.radio_button :basement_rating, '1' %> <%= o.label :basement_rating, "Replace Immediatley" %>
                        <%= o.radio_button :basement_rating, '2' %> <%= o.label :basement_rating, "Replace in the foreseable future" %>
                        <%= o.radio_button :basement_rating, '3' %> <%= o.label :basement_rating, "average wear and tear" %>
                        <%= o.radio_button :basement_rating, '4' %> <%= o.label :basement_rating, "better than expected" %>
                        <%= o.radio_button :basement_rating, '5' %> <%= o.label :basement_rating, "brand new or ideal" %>
                      </div>
                    </div>
                  </div>
                  <div class="panel-rating-header-last">
                    Foundation

                    <div class="panel panel-rating">
                      <div class="star-rating10">
                        <%= o.radio_button :foundation_rating, '1' %> <%= o.label :foundation_rating, "Replace Immediatley" %>
                        <%= o.radio_button :foundation_rating, '2' %> <%= o.label :foundation_rating, "Replace in the foreseable future" %>
                        <%= o.radio_button :foundation_rating, '3' %> <%= o.label :foundation_rating, "average wear and tear" %>
                        <%= o.radio_button :foundation_rating, '4' %> <%= o.label :foundation_rating, "better than expected" %>
                        <%= o.radio_button :foundation_rating, '5' %> <%= o.label :foundation_rating, "brand new or ideal" %>
                      </div>
                    </div>
                  </div>

                  <div class="panel-appointment">
                    <div class="row">
                      <div class="col-md-5">
                        Asking Price
                        <%= @property.price %>
                      </div>
                      <div class="col-md-5">
                        Suggested Price

                          <% offer_price = @property.price.to_f*0.8 %>

                        $<%= offer_price %>


                      </div>
                    </div>

                    <button id="show">Calculate Suggested Offer</button>


                  </div>

                </div>
              </div>

              <div>

                <div id="buyeroffers1" class="panel-default-offer-inner" style="display:none;">
                  From: BUYER(S):

                  <%= current_user.name %>

                  <%= o.label :buyer_names %>
                  <%= o.text_field :buyer_names, class: 'form-control', placeholder: "Your Name" %>

                  To:
                  <input type="text" name="user[first_name]" placeholder="Seller Name">

                  OWNER OF RECORD ("SELLER"):
                  <%= @property.user.name %>
                  <%= o.label :seller_names %>
                  <%= o.text_field :seller_names, class: 'form-control', placeholder: "Seller's Name" %>

                  Address:
                  <%= o.label :seller_address %>
                  <%= o.text_field :seller_address, class: 'form-control', placeholder: "The Seller's Adress" %>


                    The <b>BUYER</b> offers
                    to purchase the real property described as

                   <%= @property.address %> <%= @property.city %> , <%= @property.state %> , <%= @property.zip %>
                  <%= o.label :property_address %>
                  <%= o.text_field :property_address, class: 'form-control', placeholder: "Adress of property being bought" %>
                  together with all buildings and improvements thereon (the "Premises") to which I have been introduced
                  by
                  upon the following terms and conditions:

                </div>
              </div>

              <div>
                <div id="purchprice1" class="panel-default-offer-inner" style="display:none;">
                  1. Purchase Price:


                    The BUYER agrees to pay the sum of $

                  <%= offer_price %>  <input type="text" name="user[first_name]" placeholder="Cash Amount">
                  to the SELLER for the
                  purchase of the Premises, due as follows:

                  i. $ <input type="text" name="user[first_name]" placeholder="Cash Amount">

                  (500) as a deposit to bind this
                  Offer;


                  ii. $ <input type="text" name="user[first_name]" placeholder="Cash Amount">

                  (500) as an additional deposit upon
                  executing the Purchase And Sale Agreement;

                  iii.Balance by bank's, cashier's, treasurer's or certified check or wire transfer at time for
                    closing.
                </div>
              </div>

              <div id="duration1" class="panel-default-offer-inner" style="display:none;">
                <div>
                  2. Duration Of Offer


                    This Offer is valid (for one week) until
                    <% duration = (Date.today+7) %>

                  <%= duration %>
                  <%= o.label :buyer_names %>
                  <%= o.text_field :buyer_names, class: 'form-control', placeholder: "Your Name" %>(5:00pm) a.m./p.m. on
                  by which time a copy of this Offer shall be signed by the SELLER,
                  <span title="accepting means to agree to the offer"><b>accepting</b></span> this Offer and returned to
                  the
                  BUYER, otherwise this Offer shall be deemed rejected and the money tendered herewith shall be returned
                  to
                  the BUYER. Upon written notice to the BUYER or BUYER'S agent of the SELLER'S acceptance, the accepted
                  Offer shall form a binding agreement. Time is of the essence as to each provision.
              </div>
              </div>
                <div id="pnsagreement1" class="panel-default-offer-inner" style="display:none;">
                  3.Purchase And Sale Agreement


                    The SELLER and the BUYER shall, on or before
                    <%= o.label :closing_date %>
                    <%= o.text_field :closing_date, class: 'form-control', placeholder: "Closing Date/Time" %>

                  <%= duration %>
                  a.m./p.m. on execute the Standard Purchase and Sale Agreement of the MASSACHUSETTS ASSOCIATION OF
                  REALTORS® or
                  substantial equivalent which, when executed, shall
                  become the entire agreement between the parties and this Offer shall have no further force and effect.

                </div>
              </div>
              <div>
                <div id="closing1" class="panel-default-offer-inner" style="display:none;">
                  4.Closing

                 The SELLER agrees to deliver a good and sufficient deed conveying good and clear record and
                    marketable
                    title
                    at
                    <%= o.label :closing_date %>
                    <%= o.text_field :closing_date, class: 'form-control', placeholder: "Closing Date/Time" %>

                  <%= duration %> (same date as closing) a.m./p.m. onat the County Registry
                  of
                  Deeds or such other time or place as may be mutually agreed upon by the parties.
                </div>
              </div>
              <div>
                <div id="escrow1" class="panel-default-offer-inner" style="display:none;">
                  5. Escrow
                  The deposit shall be held by <input type="text" name="user[first_name]">, as escrow agent, subject to the terms hereof. Endorsement or negotiation of this deposit by the real estate broker shall not be deemed acceptance of the terms of the Offer. In the event of any disagreement between the parties concerning to whom escrowed funds should be paid, the escrow agent may retain said deposit pending written instructions mutually given by the BUYER and SELLER. The escrow agent shall abide by any Court decision concerning to whom the funds shall be paid and shall not be made a party to a pending lawsuit solely as a result of holding escrowed funds. Should the escrow agent be made a party in violation of this paragraph, the escrow agent shall be dismissed and the party asserting a claim against the escrow agent shall pay the agent's reasonable attorneys' fees and costs.
                </div>
              </div>
              <div>
                <div id="contingencies1" class="panel-default-offer-inner" style="display:none;">
                  6.Contingencies

                  It is agreed that the BUYER'S obligations under this Offer and any Purchase and Sale Agreement signed pursuant to this Offer are expressly conditioned upon the following terms and conditions:
                </div>
              </div>
              <div>
                <div id="mortgage1" class="panel-default-offer-inner" style="display:none;">
                  a.
                  Mortgage
                  .
                  (Delete If Waived)
                  The BUYER'S obligation to purchase is conditioned upon obtaining a written commitment for financing in the amount of $ (what percent of price are you financing???????)
                  <input type="text" name="user[first_name]" placeholder="Cash Amount">
                  at prevailing rates, terms and conditions by <input type="text" name="user[first_name]" placeholder="Date/Time">

                  <%= current_user.name %>. The BUYER shall have an obligation to act reasonably diligently to satisfy any condition within the BUYER'S control. If, despite reasonable efforts, the BUYER has been unable to obtain such written commitment the BUYER may terminate this agreement by giving written notice that is received by 5:00 p.m. on the calendar day after the date set forth above. In the event that notice has not been received, this condition is deemed waived. In the event that due notice has been received, the obligations of the parties shall cease and this agreement shall be void; and all monies deposited by the BUYER shall be returned. In no event shall the BUYER be deemed to have used reasonable efforts to obtain financing unless the BUYER has submitted one application by
                  <%= o.label :mortgage_application_date %>
                  <%= o.text_field :mortgage_application_date, class: 'form-control', placeholder: "Mortgage Application Date" %>

                  and acted reasonably promptly in providing additional information requested by the mortgage lender.
                </div>
              </div>
              <div>
                <div id="inspections1" class="panel-default-offer-inner" style="display:none;">
                  b.
                  Inspections
                  .
                  (
                  Delete If Waived
                  ) The BUYER'S obligations under this agreement are subject to the right
                  to obtain inspection(s) of the Premises or any aspect thereof, including, but not limited to, home,
                  pest,
                  radon,
                  lead paint, septic/sewer, water quality, and water drainage by consultant(s) regularly in the business
                  of
                  conducting said inspections, of BUYER'S own choosing, and at BUYER'S sole cost within
                  <%= o.label :inspection_date %>
                  <%= o.text_field :inspection_date, class: 'form-control', placeholder: "Inspection Date" %>(7 days)
                  <%= duration %>
                  days after
                  SELLER'S acceptance of this agreement. If the results are not satisfactory to BUYER, in BUYER'S sole
                  discretion, BUYER shall have the right to give written notice received by the SELLER or SELLER'S agent
                  by
                  5:00 p.m. on the calendar day after the date set forth above, terminating this agreement. Upon receipt
                  of
                  such
                  notice this agreement shall be void and all monies deposited by the BUYER shall be returned. Failure
                  to
                  provide timely notice of termination shall constitute a waiver. In the event that the BUYER does not
                  exercise
                  the right to have such inspection(s) or to so terminate, the SELLER and the listing broker are each
                  released
                  from claims relating to the condition of the Premises that the BUYER or the BUYER'S consultants could
                  reasonably have discovered.
                </div>
              </div>
              <div>
                <div id="representations1" class="panel-default-offer-inner" style="display:none;">
                  7.
                  Representations/Acknowledgments
                  .
                  The BUYER acknowledges receipt of an agency disclosure, lead
                  paint disclosure (for residences built before 1978), Home Inspectors Facts For Consumers brochure
                  (prepared
                  by the Office of Consumer Affairs). The BUYER is not relying upon any representation, verbal or
                  written,
                  from
                  any real estate broker or licensee concerning legal use. Any reference to the category (single family,
                  multi-
                  family, residential, commercial) or the use of this property in any advertisement or listing sheet,
                  including
                  the
                  number of units, number of rooms or other classification is not a representation concerning legal use
                  or
                  compliance with zoning by-laws, building code, sanitary code or other public or private restrictions
                  by the
                  broker. The BUYER understands that if this information is important to BUYER, it is the duty of the
                  BUYER to
                  seek advice from an attorney or written confirmation from the municipality. In addition, the BUYER
                  acknowledges that there are no warranties or representations
                  on which BUYER relies in making this Offer,
                  except those previously made in writing and the following <input type="text" name="user[first_name]">
                  : (if none, write “NONE”):
                </div>
              </div>
              <div>
                <div id="buyerdefault1" class="panel-default-offer-inner" style="display:none;">
                  8.
                  Buyer's Default.
                  If the BUYER defaults in BUYER'S obligations, all monies tendered as a deposit shall be
                  paid to the SELLER as liquidated damages and this shall be SELLER'S sole remedy.
                </div>
                <div>
                  <div id="addterms1" class="panel-default-offer-inner" style="display:none;">
                    9.
                    Additional Terms.
                    <%= o.label :additional_terms %>
                    <%= o.text_field :additional_terms, class: 'form-control', placeholder: "Additional Terms" %>
                    BUYER <input type="text" name="user[first_name]" placeholder="Buyer Name">
                    Date <input type="text" name="user[first_name]" placeholder="Date/Time">
                    BUYER <input type="text" name="user[first_name]" placeholder="Buyer Name">
                    Date <input type="text" name="user[first_name]" placeholder="Date/Time">
                  </div>
                  <div class="form-group" id="property-create">
                    <%= o.button "Save Offer", class: 'btn btn-success btn-block', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Creating Offer..."} %>

                  </div>
                </div>
              </div>
            </div>
      <% end %>
      </div>
    </div>
  </div>
</div>



