

<div class="container-fluid">
  <div class="panel panel-default">
    <div class="well well-sm">
        <h4> This property has <%= pluralize(p.comments.count, "question") %>:</h4>
    </div>
    <% p.comments.each do |comment| %>
        <div class="col-md-4">





            <div class="well well-sm clearfix <%= p.user.id == comment.user.id ? 'owner-comment': ''%>">
              <%= image_tag(comment.user.avatar.url, class: "profile-round-small") if comment.user.avatar? %>
              <div class="well">
                <i class="fa fa-comments fa-4x pull-right" aria-hidden="true" style="color:white"></i>
                <p>"<%= comment.content %>"</p>
                <br/>
                  <% if p.user.id ==  comment.user.id  %>

                    <p class="pull-right">Answered by: <b>Owner</b></p>
                   <% else %>

                      <p class="pull-right">Asked by: <b><%=comment.user.name %></b></p>
                   <% end %>
                <br />
                <hr>

                  <p class="pull-right">
                    Created at: <%= comment.created_at.strftime("%-I:%M%p %B %-d, %Y") %>
                  </p>
                  <p class="pull-left">
                      <% if p.user.id == current_user.id %>
                          <%= link_to "Owner May Delete Comment", [comment.property, comment ], method: :delete %>
                      <% end %>
                  </p>
              </div>

            </div>



        </div>

    <% end %>
  </div>
</div>


