

<div class="container-fluid">
  <div class="panel panel-default">
    <div class="well well-sm">
        <h4> This property has <%= pluralize(p.comments.count, "question") %>:</h4>
    </div>
    <% p.comments.each do |comment| %>
        <div class="col-md-4">





            <div class="well well-sm <%= p.user.id == comment.user.id ? 'owner-comment': ''%>">
              <%= image_tag(comment.user.avatar.url, class: "profile-round-small") if comment.user.avatar? %>
                <p><%= comment.content %></p>
                  <% if p.user.id ==  comment.user.id  %>
                    <p>Answer by <b>Owner</b></p>
                   <% else %>
                      <p>Asked by <b><%=comment.user.name %></b></p>
                   <% end %>

                  <% if p.user.id == current_user.id %>
                      <%= link_to "Owner May Delete Comment", [comment.property, comment ], method: :delete %>
                  <% end %>


            </div>



        </div>

    <% end %>
  </div>
</div>