


    <% comments.each do |comment| %>
    <div class="row">
      <div class="col-md-12">




    <div class=" <%= p.user.id == comment.user.id ? 'owner-comment': ''%>">
      <div class="row prop-show-comment-heading">
          <div class="col-md-2">
            <%= image_tag(comment.user.avatar.url, class: "profile-round-small pull-left") if comment.user.avatar? %>
          </div>
          <div class="col-md-10">
            <% if p.user.id ==  comment.user.id  %>
                <p class="pull-left"><b>Owner</b></p>
                <br>
                <i class="fa fa-star-o" aria-hidden="true" style="color: white"></i>
                <i class="fa fa-star-o" aria-hidden="true" style="color: white"></i>
                <i class="fa fa-star-o" aria-hidden="true" style="color: white"></i>
                <i class="fa fa-star-o" aria-hidden="true" style="color: white"></i>
                <i class="fa fa-star-o" aria-hidden="true" style="color: white"></i>
            <% else %>
                <p class="pull-left"><b><%=comment.user.name %></b></p>
                <br>
                <i class="fa fa-star-o" aria-hidden="true" style="color: #29abe3"></i>
                <i class="fa fa-star-o" aria-hidden="true" style="color: #29abe3"></i>
                <i class="fa fa-star-o" aria-hidden="true" style="color: #29abe3"></i>
                <i class="fa fa-star-o" aria-hidden="true" style="color: #29abe3"></i>
                <i class="fa fa-star-o" aria-hidden="true" style="color: #29abe3"></i>
            <% end %>
            <p class="pull-right">
              <span><i class="fa fa-calendar" aria-hidden="true" style="color:#f27c53"></i><%= comment.created_at.strftime(" %m.%d.%Y") %></span>
            </p>
          </div>
      </div>
    </div>
      <div class="row">

          <div class="col-md-10 pull-right">
            <p class="comment-content">"<%= comment.content %>"</p>
            <p class="pull-left">
              <% if p.user.id == current_user.id %>
                <%= link_to 'Owner May Delete Comment', [comment.property, comment ], class: "btn btn-danger btn-block", method: :delete %>
              <% end %>
            </p>
            <hr class="style1">
          </div>
      </div>


    </div>
    </div>
    <br>

<% end %>




  <%= will_paginate comments, :param_name => 'comments_page', renderer: BootstrapPagination::Rails %>

