<% if p.appointments.any? %>



    <table class="table table-striped">

        <thead>
        <tr>
            <th class="hidden-xs hidden-sm"><h4>User</h4></th>
            <th class="navigate"><h4>Navigate</h4></th>
            <th class="time"><h4>Time</h4></th>
            <th id="date"><h4>Date</h4></th>
            <th class="hidden-xs hidden-sm"><h4>Enter</h4></th>
            <th class="hidden-xs hidden-sm"><h4>Exit</h4></th>
            <th class="hidden-xs hidden-sm"><h4>Secure</h4></th>
            <th class="hidden-xs hidden-sm"><h4>Video</h4></th>
        </tr>
        </thead>
        <tbody>
        <% p.appointments.includes(:slot).each do |a| %>
            <% if a.user_id == current_user.id %>

                <tr class="<%= 'past-due' if a.slot.start_time.past? %>">
                  <td class="hidden-xs hidden-sm">  <td><%= image_tag(a.avatar.url, class: "profile-round-small") %></td></td>
                  <div class="">
                    <td>


                          <%= link_to 'Start Viewing', property_slot_appointment_path(a.slot.property_id, a.slot_id, a.id), class: 'btn btn-primary btn-block', target: :_blank %>
                          <%= link_to property_slot_appointment_path(a.slot.property_id, a.slot_id, a.id), class: 'btn btn-danger btn-block', method: :delete do %>
                              Delete Viewing
                          <# end %>
                      <% end %>
                    </td>
                  </div>

                  <td><%= a.slot.start_time.strftime("%-I:%M%p") %></td>
                  <td><%= a.slot.start_time.strftime("%B %-d, %Y") %></td>

                  <td><%= image_tag 'checked_filled.png' %></td>
                  <td><%= image_tag 'checked_filled.png' %></td>
                  <td><%= image_tag 'checked_filled.png' %></td>
                  <!--<td><%# image_tag 'icons8-film_filled.png' %></td>-->
                  <td>  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" id="film-button-tour">
                    <%= image_tag 'icons8-film_filled.png' %>
                  </button></td>
                </tr>

            <% end %>
        <% end %>

        <% if p.user_id == current_user.id %>
            <% p.appointments.each do |appointment| %>
                <% if appointment.user != current_user %>
                    <!--<td><%# image_tag(appointment.avatar_url) %></td>-->

                    <tr class="<%= 'past-due' if appointment.slot.start_time.past? %>">
                      <td class="hidden-xs hidden-sm"><%= image_tag(appointment.user.avatar.url, class: "profile-round-small") %></td>
                      <td><% if appointment.slot.start_time.past? %>
                          <p>Past Appointment Date</p>
                      <% else %>
                      <%= link_to [appointment.slot.property, appointment.slot, appointment], class: 'btn btn-danger btn-block', method: :delete do %>
                              Delete Tour
                      <% end %>
                      <% end %></td>
                      <td><%= appointment.slot.start_time.strftime("%-I:%M%p") %></td>
                      <td><%= appointment.slot.start_time.strftime("%B %-d, %Y") %></td>
                      <td><%= image_tag 'checked_filled.png' %></td>
                      <td><%= image_tag 'checked_filled.png' %></td>
                      <td><%= image_tag 'checked_filled.png' %></td>


                    </tr>
                <% end %>
            <% end %>
        <% end %>




        </tbody>

    </table>
<% else %>
    <div>
      <p>You've got no appointments.</p>
    </div>
<% end %>
