
<div id="appointments" class="col-md-4">

  <h3>
    Bookings
  </h3>
  <% if slot = p.booked_by_user?(current_user) %>

      <div>
        <%= link_to [slot.property, slot, slot.appointment], class: 'btn btn-danger btn-block', method: :delete do %>
            <span class="glyphicon glyphicon-time"></span>
            <%= slot.start_time.strftime("%-I:%M%p %B %-d, %Y") %>
            <div>
              by <%= slot.appointment.user.name %>
            </div>
            <%= image_tag(slot.appointment.user.avatar.url, class: "profile-round-small") %>
        <% end %>
      </div>

      <div class="btn btn-success btn-block">
        <%= link_to 'Go to Appointment', [slot.property, slot, slot.appointment]  %>
        <div>
            <span class="glyphicon glyphicon-time"></span>
            <%= slot.start_time.strftime("%-I:%M%p %B %-d, %Y") %>
            <div>
                by <%= slot.appointment.user.name %>
            </div>
            <%= image_tag(slot.appointment.user.avatar.url, class: "profile-round-small") %>
        </div>
      </div>
  <% end %>
  <div>
    <% if p.user == current_user %>
    <% p.slots.each do |s| %>
        <% if s.appointment %>
            <div>
              <%= link_to [s.property, s, s.appointment], class: 'btn btn-danger btn-block', method: :delete do %>
                  <span class="glyphicon glyphicon-time"></span>
                  <%= s.start_time.strftime("%-I:%M%p %B %-d, %Y") %>
                  <div>
                    by <%= s.appointment.user.name %>
                  </div>
                  <%= image_tag(s.appointment.user.avatar.url, class: "profile-round-small") %>
              <% end %>
            </div>
        <% end %>
    <% end %>
    <% end %>
  </div>

</div>
