<div class="col-md-12">
  <div class="panel panel-default calendar-container">


    <% if slots %>
        <%= week_calendar events: slots, number_of_weeks: 1 do |date, slots| %>
            <b><%= date.strftime("%d") %></b>
            <% if slot = @property.booked_by_user?(current_user) %>
                <center><%= link_to "Remove", [slot.property, slot, slot.appointment], class: 'btn btn-danger', method: :delete %></center>
                <center> Your appointment is</center>
                <center><%= slot.start_time.strftime("%I:%M%p on %D") %></center>
            <% else %>
                <% @slots.for_day(date.strftime('%Y-%m-%d')).each do |s| %>
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <h4 class="media-heading">
                          <center>
                            <%= s.starts_at.strftime("%A %I:%M%p") %>
                            <% if !s.appointment %>
                                <%= form_tag charges_path do %>
                                    <%= hidden_field_tag :slot_id, s.id %>
                                    <%= hidden_field_tag :property_id, @property.id %>
                                    <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="pk_test_cRzT97SZoD13r1a2JB1eHZH9" data-amount=<%= 10_00 %> data-description="Viewing"></script>
                                <% end %>
                            <% end %>
                          </center>
                        </h4>
                      </div>
                    </div>
                <% end %>
            <% end %>

        <% end %>

    <% else %>
        No Slots
    <% end %>




  </div>
</div>


