<div class="col-md-12">
  <div class="panel panel-default calendar-container container-fluid">
    <div class="alert alert-info fade in">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Tip!</strong> Click on each hour you DON'T want your house shown or remove the whole day.
    </div>


    <% if p.slots %>
        <%= week_calendar events: p.slots, number_of_weeks: 1 do |date, slots| %>
            <b><%= date.strftime("%d") %></b>


            <div class="row">
              <%= form_for :slot, url: by_day_property_slots_path(p, date), method: :delete do |f| %>
                  <%= f.submit "Delete Day", class: 'btn btn-danger btn-block', data: {confirm: "Are you sure?"} %>
              <% end %>
            </div>

            <div class="row">
              <% slots.each do |slot| %>
                  <div class="well well-xs">
                    <%= link_to slot.starts_at.strftime("%l:%M%p"), property_slot_path(slot.property, slot), method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure?"} %>
                  </div>
              <% end %>
            </div>
        <% end %>

    <% else %>
        No Slots
    <% end %>
  </div>
</div>



