<div class="col-md-12">
  <div class="well">

  <div class="row">

    <div class="col-md-2 text-center">
      <div class="time-zone">
        <h3 class="text-center">Connect</h3>
        <hr>
        <p class="text-center">
          <b><%= Time.zone.name %> Timezone </b>
          <%= link_to 'change', edit_user_registration_path %>
        </p>
      </div>
      <div class="social">
        <% unless current_user.connections.where(provider: 'twitter').any? %>
            <%= link_to 'Connect Twitter', 'auth/twitter', class: 'btn btn-info btn-block btn-sm' %>
        <% else %>
            <%= link_to 'Connect Twitter', 'auth/twitter', class: 'btn btn-info btn-block btn-sm', disabled: true %>
            <%= link_to 'Delete Connection', connection_path(current_user.connections.where(provider: 'twitter').first), method: :delete %>
        <% end %>
        <% unless current_user.connections.where(provider: 'facebook').any? %>
            <%= link_to 'Connect Facebook', 'auth/facebook', class: 'btn btn-primary btn-block btn-sm' %>
        <% else %>
            <%= link_to 'Connect Facebook', 'auth/facebook', class: 'btn btn-primary btn-block btn-sm', disabled: true %>
            <%= link_to 'Delete Connection', connection_path(current_user.connections.where(provider: 'facebook').first), method: :delete %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <h3 class="text-center">Create</h3>
      <hr>
      <%= render :partial => '/posts/form', :post => @post %>
    </div>

    <div class="col-md-2">
      <h3 class="text-center">Future Posts</h3>
      <hr>
      <%= render @scheduled %>
    </div>

    <div class="col-md-2">
      <h3 class="text-center">Past Posts</h3>
      <hr>
      <%= render @history %>
    </div>
  </div>


  </div>
</div>