
<div class = "panel-default-offer-inner">
  <div class="row">
      <div class="well col-md-6">
      <h3>You have an offer! </h3>
        <hr/>

      <%= p.city + ',' %>
      <%= p.state + ',' %>
      <%= p.zip + ';' %>

      <b><%= p.beds %> Beds -</b>
      <b><%= p.baths %> Baths -</b>
      <b><%= p.lot %> Acres</b>

      <br />
      Offer price: <%= %>
      <br />
      Percentage financing:
      <br />
      <% p.add_offers.each do |a| %>
            <%= a.inspect %>

        <%= a.created_at.strftime("%d %b. %Y %H: %M") %>
     <% end %>>
      <br />
      Expires on: <%= %>
      <br />
      Lawyer contact: BobLoblaw@Loblaw.com
        <br />
        <hr />
        <div class="btn btn-primary btn-block"> Accept Offer </div>
        <div class="btn btn-primary btn-block"> Reject Offer </div>
        <%= text_area :content, class: 'text-area block', placeholder: 'Your additional terms.' %>
      </div>
      <div class="col-md-6">
        <%= image_tag(p.photos.first.url) %>
      </div>
  </div>
</div>