<h1><b>
  <center>Create Your Listing</center>
</b></h1>
<div class="jumbotron">
  <div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width: 20%">
      <span class="sr-only">45% Complete</span>
    </div>
  </div>
  <%= form_for [@property] do |p| %>
      <div class="row">
        <div class="col-sm-2">

            <div class="btn-group-vertical">
              <button type="button" id= "structure" class="btn btn-primary btn-lg">Type</button>

              <button type="button" id= "address" class="btn btn-primary btn-lg">Address</button>

              <button type="button" id= "description" class="btn btn-primary btn-lg">Description</button>

              <button type="button" id= "price" class="btn btn-primary btn-lg">Price</button>


              <button type="button" id= "bedrooms" class="btn btn-primary btn-lg">Beds</button>

            <button type="button" id= "baths" class="btn btn-primary btn-lg">Baths</button>

              <button type="button" id= "acres" class="btn btn-primary btn-lg">Yard</button>
              <button type="button" id= "review" class="btn btn-primary btn-lg">Review</button>
            </div>

        </div>
        <div class="col-sm-10">
      <div class="form-group">
        <div id="structure1" class="panel-default" style="display:none;">
        <center><h4><p> What type of home do you have? </p></h4></center>
          <center>
          <%= p.radio_button :structure, 'Single-family' %> <%= p.label :structure, "Single-family" %>
          <%= p.radio_button :structure, 'Multi-family' %> <%= p.label :structure, "Multi-family" %>
          <%= p.radio_button :structure, 'Condo' %> <%= p.label :structure, "Condo" %>
          <%= p.radio_button :structure, 'Townhouse' %> <%= p.label :structure, "Townhouse" %>
          <%= p.radio_button :structure, 'Land' %> <%= p.label :structure, "Land" %>
          <%= p.radio_button :structure, 'Mobile' %> <%= p.label :structure, "Mobile" %>
          <%= p.radio_button :structure, 'Yurt' %> <%= p.label :structure, "Yurt" %>
          </center>
            <div class="panel-default"><center>
              <p>Drag a photo of the front of your house here.</p>
              <span class= "glyphicon glyphicon-camera" style="color:black"></span>
              <span class="glyphicon glyphicon-ok-circle" style="color:black"></span></center>
            </div>
            <div class="panel-default"><center>
              <p>Drag a photo of the back of your house here.</p>
              <span class= "glyphicon glyphicon-camera" style="color:black"></span>
              <span class="glyphicon glyphicon-ok-circle" style="color:black"></span></center>
            </div>
            <div class="panel-default"><center>
              <p>Drag a photo of the side of your house here.</p>
              <span class= "glyphicon glyphicon-camera" style="color:black"></span>
              <span class="glyphicon glyphicon-ok-circle" style="color:black"></span></center>
            </div>
        </div>
      </div>

      <div class="form-group">
        <div id="address1" class="panel-default" style="display:none;">
            <center><h4><p> What is the address of the house we are helping you sell? </p></h4></center>
            <%= p.label :address %>
            <%= p.text_field :address, class: 'form-control', placeholder: "Enter street and number", :required => true %>
          <%= p.label :city %>
          <%= p.text_field :city, class: 'form-control', placeholder: "City", :required => true %>
          <%= p.label :state %>
          <%= p.text_area :state, class: 'form-control', placeholder: "State abbreviation", :required => true %>
          <%= p.label :zip %>
          <%= p.text_area :zip, class: 'form-control', placeholder: "5 digit", :required => true %>
          <%= p.submit "Save", class: 'btn btn-success' %>
        </div>
      </div>
      <div class="form-group">
        <div id="description1" class="panel-default" style="display:none;">
            <center><h4><p> What do you especially like about the house? For instance, a view of the river, convenience to the park, or maybe a bay window where you like to read a book and drink your morning coffee. </p></h4></center>
            <%= p.label :description %>
            <%= p.text_area :description, class: 'form-control', placeholder: "Description", :required => true %>
          <div class="panel-default"><center>
            <p>Drag a photo of the unique aspect of the house that you like right here.</p>
            <span class= "glyphicon glyphicon-camera" style="color:black"></span>
            <span class="glyphicon glyphicon-ok-circle" style="color:black"></span></center>
          </div>
          <div class="panel-default"><center>
            <p>If you have more than one photo of that unique aspect, drag it here.</p>
            <span class= "glyphicon glyphicon-camera" style="color:black"></span>
            <span class="glyphicon glyphicon-ok-circle" style="color:black"></span></center>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div id="price1" class="panel-default" style="display:none;">
          <center> <h4><p> What is a fair price for your home? </p></h4></center>
          <div class="alert alert-info fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Tip!</strong> (Don't worry, we will help you narrow this down in a little bit! In the meantime, take a good guess).
          </div>
          <%= p.label :price %>
            <%= p.text_area :price, class: 'form-control', placeholder: "Price", :required => true %>
        </div>
      </div>


      <div id="baths1" class="panel-default" style="display:none;"><H4>
        <center><p>How many bathrooms are in your home?</p></center>
        <div class="alert alert-info fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Tip!</strong> A "full bathroom" is a bathroom that contains both a bathtub and a shower (and the other important stuff). If your bathroom just has a shower it's .75 of a bathroom! And if your bathroom just has that other important stuff it's only .5 of a bathroom!
        </div>
        Baths
        <center>
        <%= p.radio_button :baths, '1' %> <%= p.label :baths, "1" %>
        <%= p.radio_button :baths, '2' %> <%= p.label :baths, "2" %>
        <%= p.radio_button :baths, '3' %> <%= p.label :baths, "3" %>
        <%= p.radio_button :baths, '4' %> <%= p.label :baths, "4" %></center>
      </H4>
        <div class="panel-default"><center>
          <p>Drag a photo of your bathroom here.</p>
          <span class= "glyphicon glyphicon-camera" style="color:black"></span>
          <span class="glyphicon glyphicon-ok-circle" style="color:black"></span></center>
        </div>
        <div class="panel-default"><center>
          <p>Drag a second photo of your bathroom here.</p>
          <span class= "glyphicon glyphicon-camera" style="color:black"></span>
          <span class="glyphicon glyphicon-ok-circle" style="color:black"></span></center>
        </div>
        <div class="panel-default"><center>
          <p>Drag a third photo of your bathroom here.</p>
          <span class= "glyphicon glyphicon-camera" style="color:black"></span>
          <span class="glyphicon glyphicon-ok-circle" style="color:black"></span></center>
        </div>
      </div>

      <div id="bedrooms1" class="panel-default" style="display:none;"><H4>
          <center><p>How many bedrooms are in your home?</p></center>
        <div class="alert alert-info fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Tip!</strong> If you have a room with no closet but someone sleeps there anyway, technically that is not a bedroom, so don't include it!
        </div>
        Beds
        <center>
        <%= p.radio_button :beds, '1' %> <%= p.label :beds, "1" %>
        <%= p.radio_button :beds, '2' %> <%= p.label :beds, "2" %>
        <%= p.radio_button :beds, '3' %> <%= p.label :beds, "3" %>
        <%= p.radio_button :beds, '4' %> <%= p.label :beds, "4" %>
        <%= p.radio_button :beds, '5' %> <%= p.label :beds, "5" %>
        <%= p.radio_button :beds, '6' %> <%= p.label :beds, "6" %>
        <%= p.radio_button :beds, '7' %> <%= p.label :beds, "7" %>
        </center>
        <div class="panel-default">
         <center> <p>Drag a photo of your master bedroom here.</p></center>
          <div class="alert alert-info fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Tip!</strong>(Your master bedroom is likely to be where the owner of the home sleeps... generally, it is the largest bedroom).
          </div>
          <center><span class= "glyphicon glyphicon-camera" style="color:black"></span>
          <span class="glyphicon glyphicon-ok-circle" style="color:black"></span></center>
        </div>
        <div class="panel-default"><center>
          <p>Drag a photo of your second bedroom here.</p>
          <span class= "glyphicon glyphicon-camera" style="color:black"></span>
          <span class="glyphicon glyphicon-ok-circle" style="color:black"></span></center>
        </div>
        <div class="panel-default"><center>
          <p>If you have another photo of your second bedroom drag it here.</p>
          <span class= "glyphicon glyphicon-camera" style="color:black"></span>
          <span class="glyphicon glyphicon-ok-circle" style="color:black"></span></center>
        </div>
        <div class="panel-default"><center>
          <p>Drag a photo of your third bedroom here.</p>
          <span class= "glyphicon glyphicon-camera" style="color:black"></span>
          <span class="glyphicon glyphicon-ok-circle" style="color:black"></span></center>
        </div

      </H4></div>

      <div id="acres1" class="panel-default" style="display:none;"><H4>
        <center><p>How many acres surround your home?</p>
        <%= p.radio_button :lot, '1' %> <%= p.label :lot, "1" %>
        <%= p.radio_button :lot, '2' %> <%= p.label :lot, "2" %>
        <%= p.radio_button :lot, '3' %> <%= p.label :lot, "3" %>
        <%= p.radio_button :lot, '4' %> <%= p.label :lot, "4" %>
        <%= p.radio_button :lot, '5' %> <%= p.label :lot, "5" %>
        </center>
      </H4>
        <div class="panel-default"><center>
          <p>Do you have a picture of the yard surrounding your house? Perhaps a lovely garden, a pool, or firepit? If so, drag your photo of that here.</p>
          <span class= "glyphicon glyphicon-camera" style="color:black"></span>
          <span class="glyphicon glyphicon-ok-circle" style="color:black"></span></center>
        </div>
      </div>

      <% if @property.photos? %>
          <div class="form-group">
            </h3><p>Photos</p></h3>

            <% @property.photos do |i| %>
                <%= image_tag(i.profile.url) %>

            <% end %>


          </div>
      <% end %>

      <div class="form-group">
       <center> <%= p.file_field :photos, multiple: true, class: 'btn btn-success' %></center>
      </div>


      <div class="form-group">
        <center><%= p.submit "Save", class: 'btn btn-success' %></center>
      </div>

  <% end %>

  <%= form_for [@property], method: :delete do |p| %>
      <div class="form-group">
        <center><%= p.submit "Delete", class: 'btn btn-danger' %></center>
      </div>
  <% end %>
</div>






  </div>
