<% @title= @property.address %>

<div class="container">
  <div class="row">
    <div class="loader col-md-4 offset-4"></div>
  </div>
  <div class="container-fluid">

    <div class="row">
      <div class="panel-default">
          <h1>
            <center><%= @property.address %></center>
          </h1>
        <h4><%= link_to '<i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back'.html_safe, :back, class: 'btn btn-default' %></h4>
      </div>
    </div>
  <div id="property_show" class="row">

    <div class="col-md-4">
      <div class="thumbnail">
        <%= render partial: 'properties/photo', locals: {property: @property} %>
      </div>
    </div>


    <div class="col-md-4">
      <p><b>
        <center><%= @property.structure %></center>
      </b></p>
      <hr>
      <p>
      <center><%= @property.city + "," %></center>
      </p>
      <p>
      <center><%= @property.state + "," %></center>
      </p>
      <p>
      <center><%= @property.zip + ";" %></center>
      </p>
      <div class="panel panel-default">
        <div class="panel-body">
          <p>
          <center><%= @property.description %></center>
          </p>
          <hr>
          <H3>
            <center><b><i><%= "$" + @property.price.to_s %></i></b></center>
          </H3>
        </div>
      </div>

    </div>


    <div class="col-md-4">
      <div class="well">
          <h3>
            <center><%= "View" %></center>
          </h3>
          <hr>
          <%= render partial: "layouts/timepicker" %>
      </div>
    </div>
  </div>
    <div class="row">
      <%# render partial: "properties/buyer_calendar", locals: { slots: @property.slots, property: @property } %>
    </div>



  <div class="row">
    <% if @add_offer %>
        <%= @add_offer.price %>
        <% else %>
    <%= render partial: "add_offers/add_offer", locals: { :property => @property }  %>
        <% end %>
  </div>
</div>
</div>





<script>
$(window).load(function(){
    $('.loader').fadeOut(2000);
});
</script>