<br/>
<br>
<br>
<br>
<h1><center><%= @property.address %></center></h1>

<div class="jumbotron">

    <div class="row">
      
      <div class="col-md-4">
        <a href="#" class="thumbnail">
          <img src="assets/tree_acre.jpg" alt="small_house">
        </a>
      </div>



      <div class="col-md-4">
        <p><b><%= @property.structure %></b></p>
        <p><%= @property.city + "," %></p>
        <p><%= @property.state + ","  %></p>
        <p><%= @property.zip + ";"  %></p>
        <div class="panel panel-default">
          <div class="panel-body">
            <p><%= @property.description %></p>
          </div>
        </div>
        <%= link_to "Edit Listing", edit_property_path(@property), class: 'btn btn-success' %>
      </div>

    

      <div class="col-md-4">
        <h3><center><%= "Available slots (Appointments)" %></center></h3>
        <% @slots.each do |s| %>
          <div class="panel panel-default">
            <div class="panel-body">
              <h4 class="media-heading"><center>
                <%= link_to s.start_time.strftime("%D at %I:%M%p") , property_slot_path(@property, s) %>
                  <%= link_to "Visit This House", [@property, s, Appointment.new], method: :post, class: 'btn btn-success' %>
              </center>
              </h4>
            </div>
          </div>
        <% end %>
      </div>
  </div>  
</div>

             