<% @title= @property.address %>

<div class="container-fluid">
  <h1>
    <center><%= @property.address %></center>
  </h1>
  <div class="row">

    <div class="col-md-4">
      <h4><%= link_to '< Back', :back %></h4>
      <div class="thumbnail">
        <%= render partial: 'properties/photo', locals: {property: @property} %>
      </div>
    </div>


    <div class="col-md-4">
      <p><b>
        <center><%= @property.structure %></center>
      </b></p>
      <hr>
      <p>
      <center><%= @property.city + "," %></center>
      </p>
      <p>
      <center><%= @property.state + "," %></center>
      </p>
      <p>
      <center><%= @property.zip + ";" %></center>
      </p>
      <div class="panel panel-default">
        <div class="panel-body">
          <p>
          <center><%= @property.description %></center>
          </p>
          <hr>
          <H3>
            <center><b><i><%= "$" + @property.price.to_s %></i></b></center>
          </H3>
        </div>
      </div>

    </div>


    <div class="col-md-4">
      <h3>
        <center><%= "View" %></center>
      </h3>
    </div>
    <div>
      <%= render partial: "properties/buyer_calendar", locals: { slots: @property.slots, property: @property } %>
    </div>

  </div>

  <div>
    <% if @add_offer %>
        <%= @add_offer.price %>
        <% else %>
    <%= render partial: "add_offers/add_offer", locals: { :property => @property }  %>
        <% end %>
  </div>
</div>

             