<br/>
<br>
<br>
<br>

<div class="jumbotron">
<h1><center><%= @property.address %></center></h1>
    <div class="row">
      
      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag(@property.photo.url) if @property.photo? %>
        </div>
      </div>


      <div class="col-md-4">
        <p><b><center><%= @property.structure %></center></b></p>
        <p><center><%= @property.city + "," %></center></p>
        <p><center><%= @property.state + ","  %></center></p>
        <p><center><%= @property.zip + ";"  %></center></p>
        <div class="panel panel-default">
          <div class="panel-body">
            <p><center><%= @property.description %></center></p>
            <H3><center><b><i><%= "$" + @property.price.to_s %></i></b></center></H3>
          </div>
        </div>
        <center><%= link_to "Edit Listing", edit_property_path(@property), class: 'btn btn-success' %></center>
      </div>

    

      <div class="col-md-4">
        <h3><center><%= "View" %></center></h3>
        <% @slots.each do |s| %>
          <div class="panel panel-default">
            <div class="panel-body">
              <h4 class="media-heading"><center>
                <%= link_to s.start_time.strftime("%D at %I:%M%p") , property_slot_path(@property, s) %>
                  <%= link_to "Visit This House", [@property, s, Appointment.new], method: :post, class: 'btn btn-success' %>
              </center>
              </h4>
            </div>
          </div>
        <% end %>
      </div>
  </div>  
</div>

             