<br>
<div class="jumbotron">
  <div class="jumbotron">
    <h2><center>DASHBOARD</center></h2>
  </div>
  <h1><%= render partial: "layouts/property", locals: { address: @properties.first.map_address } %></h1>
  
  <p><center>Your Listed Properties</center></p>
  <p><center>
      <%= link_to "Create Property", new_property_path, class: 'btn btn-primary' %>
  </center></p>

<div class="row">
  <div class="col-md-6">
    <h2> <center> PROPERTIES </center> </h2>
    <% @properties.each do  |p| %>
      <div class="panel panel-default">
        <div class="panel-body">
        <center>
         <h4> <%= link_to p.address, property_path(p) %></h4> 
          <%= p.city %>
          <%= p.state %>
          <%= p.zip %>
          
        </center>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-6">
    <h2> <center> APPOINTMENTS </center></h2>
      <% @appointments.each do |a| %> 
        <div class="panel panel-default">
          <div class="panel-body">
          <center>
          <ol> <li><b> <%= a = link_to a.slot %> </b></li> </ol>
          </center>
          </div>
        </div>
      <% end %>
  </div>



</div>
