<% @title="Moverable Dashboard" %>

<div class="container-fluid">

  <div>


    <br>
    <ul id="seller-dash-tabs" class="nav nav-tabs">
      <li><a data-toggle="tab" href="#buyer"> <span class="hidden-xs">Favorites </span><span class="glyphicon glyphicon-heart" style="vertical-align:middle"></span></a></li>

      <li><a data-toggle="tab" href="#offers"><span class="hidden-xs">Offers </span><span class="fa fa-line-chart" style="vertical-align:middle"></span></a></li>
      <li><a data-toggle="tab" href="#advice"><span class="hidden-xs">Advice </span><span class="fa fa-shield" style="vertical-align:middle"></span></a></li>
      <li><a data-toggle="tab" href="#store"><span class="hidden-xs">Seller's Store </span><span class="fa fa-credit-card" style="vertical-align:middle"></span></a></li>
      <!--<li><a data-toggle="tab" href="#services">Services <span class="fa fa-thumbs-o-up" style="vertical-align:middle"></span></a></li>-->
      <li><a data-toggle="tab" href="#account"><span class="hidden-xs">Account </span><span class="fa fa-cog" style="vertical-align:middle"></span></a></li>
      <li><a data-toggle="tab" href="#seller"><span class="hidden-xs">My Listings </span><span class="fa fa-home" style="vertical-align:middle"></span></a></li>
    </ul>

  </div>
  <div class="hidden-xs">
    <%if current_user.admin %>
        <%= link_to '@ ~> Admin Area', rails_admin_path %>
    <% end %>
  </div>


  <div class="tab-content">


        <div id="buyer" class="tab-pane fade in active">
          <hr>

          <%= render partial: 'layouts/buyer_step_wizard' %>



          <% @favorites.each do |f| %>
              <% p = f.property %>
              <div class="container-fluid">
                <div class="row">
                  <%= render partial: 'layouts/buyer_property_view', locals: {p: p} %>
                </div>
              </div>
          <% end %>

            <div class="">
              <br>
                <h4 id="buyer-dashboard-directions">Your Favorited Properties:</h4>
                <% if @favorites != nil %>
                    <%= will_paginate @favorites, :param_name => 'favorites_page', renderer: BootstrapPagination::Rails %>
                <% end %>
            </div>
        </div>


        <div id="seller" class="tab-pane fade">
          <hr>
          <%= render partial: 'layouts/seller_step_wizard' %>

          <div class="">
            <h4 id="seller-dashboard-directions">Your Listings For Sale:</h4>
            <%= will_paginate @properties, :param_name => 'properties_page', renderer: BootstrapPagination::Rails %>
          </div>




          <% @properties.each do |p| %>
              <div class="container-fluid">
                <div class="row">
                  <%= render partial: 'layouts/property', locals: {p: p} %>
                </div>
          <hr>

              </div>
          <% end %>

        </div>



        <div id="offers" class="tab-pane fade">
          <hr>
          <% if @properties != nil %>
          <% @properties.each do |p| %>
              <div class="container-fluid">
                <div class="row">
                    <%= render partial: 'properties/offer', locals: {p: p} if p.add_offers.any? %>
                </div>
              </div>
          <% end %>
              <% end %>
        </div>


        <div id="advice" class="tab-pane fade">
          <hr>
          <div class="container-fluid">
              <div class="row">
                <%= render partial: 'properties/advice' %>
              </div>
          </div>
        </div>

        <div id="store" class="tab-pane fade">
          <hr>
          <div class="container-fluid">
              <div class="row">
                <%= render partial: 'layouts/store' %>
              </div>
          </div>
        </div>



        <!--<div id="services" class="tab-pane fade">-->
          <!--<hr>-->
          <!--<div class="container-fluid">-->
            <!--<div class="row">-->
              <!--<# render partial: 'layouts/services' %>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->



        <div id="account" class="tab-pane fade">
          <hr>
          <div class="container-fluid">
            <div class="row">
              <%= render partial: 'layouts/user_account_info' %>
            </div>
          </div>
        </div>

  </div>

</div>
<script>

    $('.breadcrumbs li a').each(function(){

        var breadWidth = $(this).width();

        if($(this).parent('li').hasClass('active') || $(this).parent('li').hasClass('first')){



        } else {

            $(this).css('width', 75 + 'px');

            $(this).mouseover(function(){
                $(this).css('width', breadWidth + 'px');
            });

            $(this).mouseout(function(){
                $(this).css('width', 150 + 'px');
            });
        }


    });

//    Remember open tabs

    $(document).ready(function() {
        if (location.hash) {
            $("a[href='" + location.hash + "']").tab("show");
        }
        $(document.body).on("click", "a[data-toggle]", function(event) {
            location.hash = this.getAttribute("href");
        });
    });
    $(window).on("popstate", function() {
        var anchor = location.hash || $("a[data-toggle='tab']").first().attr("href");
        $("a[href='" + anchor + "']").tab("show");
    });
</script>
