<br>
<div class="jumbotron">
  <h1>   <%= render partial: "layouts/property" %> </h1>
  <p>Dashboard</p>
  <p>
      <%= link_to "Create Property", new_property_path, class: 'btn btn-primary' %>
  </p>

<div class="row">
  <div class="col-md-6">
    <% @properties.each do  |p| %>
      <%= p.address %>
      <%= p.city %>
      <%= p.zip %>
    <% end %>

  </div>

  <div class="col-md-3">
    <% @appointments.each do |a| %> 
    <h4>  <%= a = a.slot %> </h4>
    <% end %>
  </div>



</div>
