<% @title="Moverable | List it. View it. Love it. Move it." %>
<div class="landing">
  Moverable is bringing tech to real estate.
  <br/>
  <br/>
  <br/>
  <p>A modern way to FSBO will be launching soon...</p>
  <p>Stay up to date, and get launch discounts by entering your email below.</p>
    <br/>
  <form action="https://formspree.io/maguirejustin@hotmail.com" method="post" class="form" id="contact-form">
    <div class="form__group">
      <input type="email" class="form__input" placeholder="YOUR EMAIL" id="email" name="email-address" required>
      <label for="email" class="form__label" id="landing__email-label">Email</label>
    </div>
    <div class="form__group">
      <button class="btn btn-primary btn-lg btn-block">LETS GET STARTED!</button>
    </div>
  </form>
</div>

    <section class="container-fluid banner">
        <div class="banner__slider">
            <div class="banner__item">
                <img src="/assets/banner-1.png" alt="Banner image" class="banner__item-img">
                <div class="banner__item-copy">
                    <h1 class="banner__item-title">Buy and sell real estate without an expensive agent.</h1>
                </div>
            </div>
            <div class="banner__item">
                <img src="/assets/banner-2.png" alt="Banner image" class="banner__item-img">
                <div class="banner__item-copy">
                    <h1 class="banner__item-title">We provide everything to show, market, and sell a house.</h1>
                </div>
            </div>
            <div class="banner__item">
                <img src="/assets/banner-3.png" alt="Banner image" class="banner__item-img">
                <div class="banner__item-copy">
                    <h1 class="banner__item-title">We guide you from search through closing. </h1>
                </div>
            </div>
            <div class="banner__item">
                <img src="/assets/banner-4.png" alt="Banner image" class="banner__item-img">
                <div class="banner__item-copy">
                    <h1 class="banner__item-title">Showings when it's convenient for you.</h1>
                </div>
            </div>
            <div class="banner__item">
                <img src="/assets/banner-5.png" alt="Banner image" class="banner__item-img">
                <div class="banner__item-copy">
                    <h1 class="banner__item-title">Removing the agent makes cents. </h1>
                </div>
            </div>
        </div>
        <div class="banner__controls"></div>
    </section>

    <section class="container-fluid search">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="search__header hidden-xs">
                        <h2 class="search__title">Find Your Home</h2>
                    </div>
                    <div class="search__form-wrapper">
                        <div class="search__filters">
                            <div class="search__filters-item search__filters-item--active">Find Your Home</div>
                            <!--<div class="search__filters-item">Buy</div>-->
                        </div>


                        <!--<form class="search__form">-->
                          <%= form_tag properties_path, method: :get, id: 'search-field', class: 'search__form', role: 'search' do %>
                            <div class="search__form-main">
                                <div class="search__form-columns">
                                    <div class="search__form-column">
                                        <div class="search__form-content">
                                            <div class="search__form-group hidden-xs">
                                                <label class="search__form-label">Amenities</label>
                                                <div class="search__form-dropdown-wrapper">

                                                    <div class="search__form-dropdown">
                                                      <%= select_tag 'search[amenities]',  options_for_select([['Any','', {:class => ''}],
                                                                                                         ['pool', 'pool', {:class => ''}],
                                                                                                         ['waterfront', 'waterfront', {:class => ''}],
                                                                                                         ['fireplace', 'fireplace', {:class => ''}],
                                                                                                         ['central air', 'central air', {:class => ''}]],
                                                                                                        (params[:search][:lot] if params[:search]) )%>
                                            </div>
                                                    <div class="search__form-dropdown-arrow">
                                                        <i class="fa fa-chevron-down search__form-dropdown-arrow__icon"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="search__form-content search__form-content--halves">
                                            <div class="search__form-group hidden-xs">
                                                <label class="search__form-label">Min Beds</label>
                                                <div class="search__form-dropdown-wrapper">
                                                    <div class="search__form-dropdown">
                                                      <%= select_tag 'search[beds]', options_for_select([['Any', ''], ['1', '1'], ['2', '2'], ['3', '3'], ['4', '4'], ['5', '5'], ['6', '6'], ['7', '7']], (params[:search][:beds] if params[:search]))%>

                                            </div>
                                                    <div class="search__form-dropdown-arrow">
                                                        <i class="fa fa-chevron-down search__form-dropdown-arrow__icon"></i>
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="search__form-group hidden-xs">
                                                <label class="search__form-label">Min Baths</label>
                                                <div class="search__form-dropdown-wrapper">
                                                    <div class="search__form-dropdown">
                                                      <%= select_tag 'search[baths]', options_for_select([['Any', ''], ['1', '1'], ['1.5', '1.5'], ['2', '2'], ['2.5', '2.5'], ['3', '3'], ['3.5', '3.5'], ['4', '4'], ['4.5', '4.5']], (params[:search][:baths] if params[:search])) %>

                                            </div>
                                                    <div class="search__form-dropdown-arrow">
                                                        <i class="fa fa-chevron-down search__form-dropdown-arrow__icon"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="search__form-column">
                                        <div class="search__form-content">
                                            <div class="search__form-group">
                                                <label class="search__form-label">Location</label>
                                                <div class="search__form-dropdown-wrapper">
                                                    <div class="search__form-dropdown">
                                                      <%= select_tag 'search[state]', options_for_select([['Any',''], ['Maine', 'Maine'], ['Massachusetts', 'Massachusetts'], ['New Hampshire', 'New Hampshire'], ['Connecticut', 'Connecticut'], ['Rhode Island', 'Rhode Island'], ['Vermont', 'Vermont']], (params[:search][:structure] if params[:search])) %>
                                                    </div>

                                                    <div class="search__form-dropdown-arrow">
                                                        <i class="fa fa-chevron-down search__form-dropdown-arrow__icon"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="search__form-content search__form-content--halves">
                                            <div class="search__form-group">
                                                <label class="search__form-label">Max Price</label>
                                                <div class="search__form-dropdown-wrapper">
                                                    <div class="search__form-dropdown">
                                                      <%= select_tag 'search[price]', options_for_select([['Any', '', {:class => ''}], ['100000', '100000'], ['125000', '125000'],['150000', '150000'],['175000', '175000'],['200000', '200000'], ['225000', '225000'],['250000', '250000'],['275000', '275000'],['300000', '300000'],['325000', '325000'], ['350000', '350000'],['375000', '375000'],['400000', '400000']], (params[:search][:price] if params[:search]))%>
                                            </div>
                                                    <div class="search__form-dropdown-arrow">
                                                        <i class="fa fa-chevron-down search__form-dropdown-arrow__icon"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="search__form-group hidden-xs">
                                                <label class="search__form-label">Min Area <span class="search__form-label search__form-label--alt">(Sq Ft)</span></label>
                                                <div class="search__form-dropdown-wrapper">
                                                    <div class="search__form-dropdown">
                                                      <%= select_tag 'search[sqft]',  options_for_select([['Any','', {:class => ''}],
                                                                                                               ['600', '600', {:class => ''}],
                                                                                                               ['800', '800', {:class => ''}],
                                                                                                               ['1000', '1000', {:class => ''}],
                                                                                                               ['1400', '1400', {:class => ''}],
                                                                                                                ['1800', '1800', {:class => ''}],
                                                                                                                ['2200', '2200', {:class => ''}],
                                                                                                                ['3200', '3200', {:class => ''}],
                                                                                                                ['4200', '3200', {:class => ''}]],

                                                                                                              (params[:search][:sqft] if params[:search]) )%>
                                            </div>
                                                    <div class="search__form-dropdown-arrow">
                                                        <i class="fa fa-chevron-down search__form-dropdown-arrow__icon"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="search__form-column">
                                        <div class="search__form-content">
                                            <div class="search__form-group hidden-xs">
                                                <label class="search__form-label">Property  type</label>
                                                <div class="search__form-dropdown-wrapper">
                                                    <div class="search__form-dropdown">

                                                          <%= select_tag 'search[structure]',  options_for_select([['Any','', {:class => ''}],
                                                                          ['Townhome', 'Townhome', {:class => ''}],
                                                                          ['Condo', 'Condo', {:class => ''}],
                                                                          ['House', 'House', {:class => ''}],
                                                                          ['Multi-family', 'Multi-family', {:class => ''}]],
                                                                                                        (params[:search][:structure] if params[:search]) )%>
                                                        <!--<option value="">Any</option>-->
                                                        <!--<option value="1">Item 1</option>-->
                                                        <!--<option value="2">Item 2</option>-->
                                                        <!--<option value="3">Item 3</option>-->
                                                        <!--<option value="3">Item 3</option>-->
                                                    </div>
                                                    <div class="search__form-dropdown-arrow">
                                                        <i class="fa fa-chevron-down search__form-dropdown-arrow__icon"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="search__form-content search__form-content--halves">
                                            <div class="search__form-group hidden-xs">
                                                <label class="search__form-label">Landscape</label>
                                                <div class="search__form-dropdown-wrapper">
                                                    <div class="search__form-dropdown">
                                                      <%= select_tag 'search[landscape]',  options_for_select([['Any','', {:class => ''}],
                                                                                                         ['urban', 'urban', {:class => ''}],
                                                                                                         ['rural', 'rural', {:class => ''}],
                                                                                                         ['suburban', 'suburban', {:class => ''}],
                                                                                                         ['island', 'island', {:class => ''}]],
                                                                                                        (params[:search][:landscape] if params[:search]) )%>
                                            </div>
                                                    <div class="search__form-dropdown-arrow">
                                                        <i class="fa fa-chevron-down search__form-dropdown-arrow__icon"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="search__form-group hidden-xs">
                                                <label class="search__form-label">Acreage</label>
                                                <div class="search__form-dropdown-wrapper">
                                                    <div class="search__form-dropdown">
                                                      <%= select_tag 'search[lot]',  options_for_select([['Any','', {:class => ''}],
                                                                                                               ['1', '1', {:class => ''}],
                                                                                                               ['2', '2', {:class => ''}],
                                                                                                               ['3', '3', {:class => ''}],
                                                                                                               ['4', '4', {:class => ''}]],
                                                                                                              (params[:search][:lot] if params[:search]) )%>
                                            </div>
                                                    <div class="search__form-dropdown-arrow">
                                                        <i class="fa fa-chevron-down search__form-dropdown-arrow__icon"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="search__form-actions hidden-xs">
                                    <div class="search__form-plus">
                                        <i class="fa fa-plus-square search__form-plus__icon"></i>
                                        <span class="search__form-plus__label">Looking for certain features</span>
                                    </div>
                                    <a href="#" class="search__form-more">View all deals for sale &nbsp;&nbsp;></a>
                                </div>
                            </div>
                              <%= button_tag type: 'submit', class: 'search__form-btn', style: " display:inline!important;" do %>
                                  SEARCH
                                  <!--<span class="glyphicon glyphicon-search"></span>-->

                              <% end %>
                            <!--<input type="submit" class="search__form-btn" value="SEARCH">-->
                          <% end %>
                        <!--</form>-->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid sale">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="sale__header">
                        <h2 class="sale__title">New Homes For Sale</h2>
                        <h3 class="sale__subtitle">Here are the most recent listing that have decided to save thousands by skipping the real estate agent fee.</h3>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="sale__content">
                        <div class="sale__group">
                            <div class="sale__item">
                                <a href="#" class="sale__item-link">
                                    <div class="sale__item-img-wrapper">
                                        <img src="/assets/sale-1.png" alt="Sale image" class="sale__item-img">
                                    </div>
                                    <div class="sale__item-content">
                                        <div class="sale__item-content__group">
                                            <h3 class="sale__item-name">46365 Southwest 28th Terrace</h3>
                                            <h3 class="sale__item-price">$990</h3>
                                        </div>
                                        <div class="sale__item-content__group">
                                            <h4 class="sale__item-size">2944 Sq Ft</h4>
                                            <ul class="sale__item-features">
                                                <li class="sale__item-features__item"><img src="/assets/i-room-bed.png" alt="Number of beds" class="sale__item-features__item-icon"> <span class="sale__item-features__item-label">3</span></li>
                                                <li class="sale__item-features__item"><img src="/assets/i-bathtub.png" alt="Number of bathrooms" class="sale__item-features__item-icon"> <span class="sale__item-features__item-label">2</span></li>
                                                <li class="sale__item-features__item"><img src="/assets/i-kitchen.png" alt="Number of kitchens" class="sale__item-features__item-icon"> <span class="sale__item-features__item-label">1</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="sale__item hidden-xs">
                                <a href="#" class="sale__item-link">
                                    <div class="sale__item-img-wrapper">
                                        <img src="/assets/sale-2.png" alt="Sale image" class="sale__item-img">
                                    </div>
                                    <div class="sale__item-content">
                                        <div class="sale__item-content__group">
                                            <h3 class="sale__item-name">46365 Southwest 28th Terrace</h3>
                                            <h3 class="sale__item-price">$1090</h3>
                                        </div>
                                        <div class="sale__item-content__group">
                                            <h4 class="sale__item-size">2944 Sq Ft</h4>
                                            <ul class="sale__item-features">
                                                <li class="sale__item-features__item"><img src="/assets/i-room-bed.png" alt="Number of beds" class="sale__item-features__item-icon"> <span class="sale__item-features__item-label">3</span></li>
                                                <li class="sale__item-features__item"><img src="/assets/i-bathtub.png" alt="Number of bathrooms" class="sale__item-features__item-icon"> <span class="sale__item-features__item-label">2</span></li>
                                                <li class="sale__item-features__item"><img src="/assets/i-kitchen.png" alt="Number of kitchens" class="sale__item-features__item-icon"> <span class="sale__item-features__item-label">1</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="sale__item hidden-xs">
                                <a href="#" class="sale__item-link">
                                    <div class="sale__item-img-wrapper">
                                        <img src="/assets/sale-3.png" alt="Sale image" class="sale__item-img">
                                    </div>
                                    <div class="sale__item-content">
                                        <div class="sale__item-content__group">
                                            <h3 class="sale__item-name">46365 Southwest 28th Terrace</h3>
                                            <h3 class="sale__item-price">$790</h3>
                                        </div>
                                        <div class="sale__item-content__group">
                                            <h4 class="sale__item-size">2944 Sq Ft</h4>
                                            <ul class="sale__item-features">
                                                <li class="sale__item-features__item"><img src="/assets/i-room-bed.png" alt="Number of beds" class="sale__item-features__item-icon"> <span class="sale__item-features__item-label">3</span></li>
                                                <li class="sale__item-features__item"><img src="/assets/i-bathtub.png" alt="Number of bathrooms" class="sale__item-features__item-icon"> <span class="sale__item-features__item-label">2</span></li>
                                                <li class="sale__item-features__item"><img src="/assets/i-kitchen.png" alt="Number of kitchens" class="sale__item-features__item-icon"> <span class="sale__item-features__item-label">1</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="sale__group">
                            <div class="sale__item hidden-xs">
                                <a href="#" class="sale__item-link">
                                    <div class="sale__item-img-wrapper">
                                        <img src="/assets/sale-4.png" alt="Sale image" class="sale__item-img">
                                    </div>
                                    <div class="sale__item-content">
                                        <div class="sale__item-content__group">
                                            <h3 class="sale__item-name">46365 Southwest 28th Terrace</h3>
                                            <h3 class="sale__item-price">$890</h3>
                                        </div>
                                        <div class="sale__item-content__group">
                                            <h4 class="sale__item-size">2944 Sq Ft</h4>
                                            <ul class="sale__item-features">
                                                <li class="sale__item-features__item"><img src="/assets/i-room-bed.png" alt="Number of beds" class="sale__item-features__item-icon"> <span class="sale__item-features__item-label">3</span></li>
                                                <li class="sale__item-features__item"><img src="/assets/i-bathtub.png" alt="Number of bathrooms" class="sale__item-features__item-icon"> <span class="sale__item-features__item-label">2</span></li>
                                                <li class="sale__item-features__item"><img src="/assets/i-kitchen.png" alt="Number of kitchens" class="sale__item-features__item-icon"> <span class="sale__item-features__item-label">1</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="sale__item sale__item--sold">
                                <a href="#" class="sale__item-link">
                                    <div class="sale__item-img-wrapper">
                                        <img src="/assets/sale-5.png" alt="Sale image" class="sale__item-img">
                                    </div>
                                    <div class="sale__item-content">
                                        <div class="sale__item-content__group">
                                            <h3 class="sale__item-name">46365 Southwest 28th Terrace</h3>
                                            <h3 class="sale__item-price">$1199</h3>
                                        </div>
                                        <div class="sale__item-content__group">
                                            <h4 class="sale__item-size">2944 Sq Ft</h4>
                                            <ul class="sale__item-features">
                                                <li class="sale__item-features__item"><img src="/assets/i-room-bed-alt.png" alt="Number of beds" class="sale__item-features__item-icon"> <span class="sale__item-features__item-label">3</span></li>
                                                <li class="sale__item-features__item"><img src="/assets/i-bathtub-alt.png" alt="Number of bathrooms" class="sale__item-features__item-icon"> <span class="sale__item-features__item-label">2</span></li>
                                                <li class="sale__item-features__item"><img src="/assets/i-kitchen-alt.png" alt="Number of kitchens" class="sale__item-features__item-icon"> <span class="sale__item-features__item-label">1</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="sale__item hidden-xs">
                                <a href="#" class="sale__item-link">
                                    <div class="sale__item-img-wrapper">
                                        <img src="/assets/sale-6.png" alt="Sale image" class="sale__item-img">
                                    </div>
                                    <div class="sale__item-content">
                                        <div class="sale__item-content__group">
                                            <h3 class="sale__item-name">46365 Southwest 28th Terrace</h3>
                                            <h3 class="sale__item-price">$1599</h3>
                                        </div>
                                        <div class="sale__item-content__group">
                                            <h4 class="sale__item-size">2944 Sq Ft</h4>
                                            <ul class="sale__item-features">
                                                <li class="sale__item-features__item"><img src="/assets/i-room-bed.png" alt="Number of beds" class="sale__item-features__item-icon"> <span class="sale__item-features__item-label">3</span></li>
                                                <li class="sale__item-features__item"><img src="/assets/i-bathtub.png" alt="Number of bathrooms" class="sale__item-features__item-icon"> <span class="sale__item-features__item-label">2</span></li>
                                                <li class="sale__item-features__item"><img src="/assets/i-kitchen.png" alt="Number of kitchens" class="sale__item-features__item-icon"> <span class="sale__item-features__item-label">1</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid call">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="call__copy">
                        <h3 class="call__title">Looking to Buy or Sell your property?</h3>
                        <h4 class="call__subtitle">Moverable is the easiest way to FSBO in the United States.</h4>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="call__actions">
                        <div class="call__tel">
                            <img src="/assets/i-phone.png" alt="Call Us Now" class="call__tel-img">
                            <div class="call__tel-copy">
                                <span class="call__tel-title">Call Us Now</span>
                                <a href="tel:800-555-5555" class="call__tel-link">(800) 555-5555</a>
                            </div>
                        </div>
                        <button class="call__cta">Get in touch</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid features">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="features__header">
                        <h2 class="features__title features__title--big">AWESOME FEATURES</h2>
                        <p class="features__text">We have rethought buying and selling real estate so it is easier than ever.</p>
                    </div>
                </div>
                <div class="col-xs-12 features__group">
                    <div class="col-xs-12 col-sm-4 features__item">
                        <img src="/assets/recommend-experts.png" alt="Feature icon" class="features__item-img">
                        <h3 class="features__title features__item-title">Recommend experts</h3>
                        <p class="features__text">Buyers recieve tailored recommendations of home inspectors, lawyers, and movers. </p>
                    </div>
                    <div class="col-xs-12 col-sm-4 features__item">
                        <img src="/assets/guide-purchase-sales.png" alt="Feature icon" class="features__item-img">
                        <h3 class="features__title features__item-title">Guided purchase &amp; sales</h3>
                        <p class="features__text">We provide guides for both buyers and sellers so you are never wondering what to do next.</p>
                    </div>
                    <div class="col-xs-12 col-sm-4 features__item">
                        <img src="/assets/recommend-experts.png" alt="Feature icon" class="features__item-img">
                        <h3 class="features__title features__item-title">Allow viewings when you're away</h3>
                        <p class="features__text">Show your house when you aren't there. Pop into that house you noticed on the way to get your morning joe.</p>
                    </div>
                </div>
                <div class="col-xs-12 features__group">
                    <div class="col-xs-12 col-sm-4 features__item">
                        <img src="/assets/living-inside-nature.png" alt="Feature icon" class="features__item-img">
                        <h3 class="features__title features__item-title">Save some Green</h3>
                        <p class="features__text">The average real estate agent price is 5-7% of purchase price. Save tens of thousands by using Moverable instead.</p>
                    </div>
                    <div class="col-xs-12 col-sm-4 features__item">
                        <img src="/assets/price-and-offer-advice.png" alt="Feature icon" class="features__item-img">
                        <h3 class="features__title features__item-title">Price and offer advice</h3>
                        <p class="features__text">We provide suggested pricing for both buyers and sellers based on user feedback. You're sure to have a fair transaction.</p>
                    </div>
                    <div class="col-xs-12 col-sm-4 features__item">
                        <img src="/assets/one-click-support.png" alt="Feature icon" class="features__item-img">
                        <h3 class="features__title features__item-title">One click support</h3>
                        <p class="features__text">We are always just a click away to help with any questions you may have.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid sign">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 sign__content">
                    <h2 class="sign__title">Sign up for Updates! We'll let you know when we launch!</h2>
                    <input type="email" class="sign__input" placeholder="Enter Email">
                    <a href="#" class="sign__cta">SUBMIT</a>
                </div>
            </div>
        </div>
    </section>




    <!--<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
    <!--<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>-->
    <!--<script src="js/app.js"></script>-->


