<br>
<div class="row">


    <div class="row-welcome">
      <div class="col-sm-3">
        <div class="panel-welcome">
        <div class="title">
          <h1><b>Zero. Fee. Homes.</b></></h1>
        </div>
        <h5>People in the market for real estate are paying tens of thousands in real estate agent fees... to be told... "That's the bathroom."</h5>
        <h4>Not you.</h4>
          <h5>Moverable lists your house, syndicates it to other websites, provides marketing material, forms and advice, all so that way you can ditch the realtor and the tens of thousands of dollars of fees that come with her.</h5>
          </div>
      </div>
      <div class="col-sm-6">
        <div class="panel-welcome">
          <div class="title">
            <h1><b>Buyer's should care too!</b></></h1>
          </div>
          <h5>Moverable allows Buyer's to view a house when it is convenient for them not the realtor! See a house on your way to get coffee, view it in an hour!</h5>
          <h4>Buyer's are paying for realtor's fees... just not out of pocket.</h4>
          <h5>As a buyer, you are paying for the costs of all realtors involved (commonly, as many as 4). Those realtor's get paid via the sale price -- which you are paying for... with interest! Because five out of six of the people involved ina transaction want the house price to be as high as possible because they get paid by commission, using a realtor means you are overpaying! Moverable provides a more equal playing fiel with no conflicts of interest at play, and all of the guidance to both parties as possible.</h5>
        </div>
        </div>
      <div class="col-sm-3">
        <div class="panel-welcome">

      <h2>Remove The Fee</h2>

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div><%= f.label :email %><br />
            <%= f.email_field :email %></div>

          <div><%= f.label :password %><br />
            <%= f.password_field :password %></div>

          <div><%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation %></div>

          <div id="welcome-submit"><%= f.submit "Sign up" %></div>
      <% end %>

      <%= render "devise/shared/links" %>
        </div>
        </div>
    </div>


</div>


<div class="row">
  <div class="col-md-4">
    <div class="panel panel-index">
      <center><h2>Bronze</h2></center>
      <center>
      <span class= "glyphicon glyphicon-star" style="color:palegoldenrod"></span>
      <span class= "glyphicon glyphicon-star" style="color:palegoldenrod"></span>
        <span class= "glyphicon glyphicon-star-empty" style="color:palegoldenrod"></span>
      <span class= "glyphicon glyphicon-star-empty" style="color:palegoldenrod"></span>
      <span class= "glyphicon glyphicon-star-empty" style="color:palegoldenrod"></span>
      </center>
      <center><h4>$299.00 </h4></center>
      <center><h3>or</h3></center>
      <center><h5>Twelve payments of </h5></center>
      <center><h4>$25.00 </h4></center>
      <center><h5>Pay it off at any time</h5></center>
      <div class="panel-default">
          <ul> Syndication to Web Real Estate Portals</ul>
          <ul> MooveMint Listing</ul>
          <ul> Guided listing creation</ul>
          <ul> Drag and Drop Photo Uploading</ul>
          <ul> Yard Sign</ul>
          <ul> Print ready listing sheet</ul>
          <ul> Preprinted paper for listing sheet with professional branding and all information pre-formatted.</ul>
          <ul> Automated viewing schedule.</ul>
          <ul> Yard sign.</ul>
          <ul>  Balloons.</ul>
          <ul> Guided Purchase and Offer.</ul>
      </div>

    </div>
  </div>
    <div class="col-md-4">
      <div class="ribbon"><div class="ribbon-stitches-top"></div><strong class="ribbon-content"><h1></h1></strong><div class="ribbon-stitches-bottom"></div></div>
      <div class="panel panel-index">
        <center><h2>Gold</h2></center>
        <center>
        <span class= "glyphicon glyphicon-star" style="color:gold"></span>
        <span class= "glyphicon glyphicon-star" style="color:gold"></span>
        <span class= "glyphicon glyphicon-star" style="color:gold"></span>
          <span class= "glyphicon glyphicon-star" style="color:gold"></span>
        <span class= "glyphicon glyphicon-star-empty" style="color:gold"></span>
        </center>
        <center><h4>$599.00 </h4></center>
        <center><h3>or</h3></center>
        <center><h5>Twelve payments of </h5></center>
        <center><h4>$50.00 </h4></center>
        <center><h5>Pay it off at any time</h5></center>

        <div class="panel-default">
            <ul> MLS Listing</ul>
            <ul> Syndication to Web Real Estate Portals</ul>
            <ul> MooveMint Listing</ul>
            <ul> Guided listing creation</ul>
            <ul> Drag and Drop Photo Uploading</ul>
            <ul> Yard Sign</ul>
            <ul> Print ready listing sheet</ul>
            <ul> Preprinted paper for listing sheet with professional branding and all information pre-formatted.</ul>
            <ul> Automated viewing schedule.</ul>
            <ul> Yard sign.</ul>
            <ul>  Balloons.</ul>
            <ul> Guided Purchase and Offer.</ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel-index">
        <center><h2>Platinum</h2></center>
        <center>
        <span class= "glyphicon glyphicon-star" style="color:cornsilk"></span>
        <span class= "glyphicon glyphicon-star" style="color:cornsilk"></span>
        <span class= "glyphicon glyphicon-star" style="color:cornsilk"></span>
        <span class= "glyphicon glyphicon-star" style="color:cornsilk"></span>
        <span class= "glyphicon glyphicon-star" style="color:cornsilk"></span>
        </center>
        <center><h4>$1199.00 </h4></center>
        <center><h3>or</h3></center>
        <center><h5>Twelve payments of </h5></center>
        <center><h4>$100.00 </h4></center>
        <center><h5>Pay it off at any time</h5></center>

        <div class="panel-default">
            <ul> MLS Listing</ul>
            <ul> Syndication to Various Web Real Estate Portals</ul>
            <ul> MooveMint Listing</ul>
            <ul> Guided listing creation</ul>
            <ul> Drag and Drop Photo Uploading</ul>
            <ul> Yard Sign</ul>
            <ul> Print ready listing sheet</ul>
            <ul> Preprinted paper for listing sheet with professional branding and all of your information pre-filled.</ul>
            <ul> Automated viewing schedule.</ul>
            <ul> Yard sign.</ul>
            <ul>  Balloons.</ul>
            <ul> Guided Purchase and Offer.</ul>
            <ul> Automated showing app -- Show your house to potential customers when you aren't home!</ul>
            <ul> Automated showing hardware and installation.</ul>
            <ul>  Professional photos.</ul>
            <ul> Listing creation.</ul>
        </div>
      </div>
    </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <center><h2>Buyers</h2></center>
      <div class="panel-default">
          <ul> Set your own schedule to view the house! No need to rely on a Realtor!</ul>
          <ul> Because there is no realtor involved you could potentially save $1,000's</ul>
          <ul> Guided Offers.</ul>
          <ul> Guided Inspections.</ul>
          <ul> 3rd party recommendations of the top professionals in your area!</ul>
          <ul> Pay $10.00 per house or a one-time fee of $89.00 and view as many houses as you want!</ul>
      </div>
    </div>
  </div>
</div>
