<% @title="Moverable | Zero Agent Fees" %>

<div class="wrapper">


    <div id="signup" class="marquee">
        <div class="stick col-md-4 pull-right">





            <div class="title">
              <h1><b>Zero. Agent. Fees.</b></h1>
            </div>

            <div>
                <h5>People in the market for real estate are wasting tens of thousands in real estate agent fees.</h5>
                <h4>Sign Up.</h4>
                <h5>Moverable saves you thousands.</h5>
              <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120" alt="">
              <form class="form-signin">
                <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
                  <%= devise_error_messages! %>

                  <div>
                    <% f.label :email %>
                    <%= f.email_field :email, placeholder: 'Email', class: "form-control" %>
                  </div>
                  <div>
                    <% f.label :password %>
                    <%= f.password_field :password, placeholder: 'Password', class: "form-control"%>
                  </div>
                  <br />
                  <div>
                    <% f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', class: "form-control" %>
                  </div>
                  <br />
                  <div id="welcome-submit">
                    <%= f.submit class: 'btn btn-lg btn-primary btn-block'  %>
                  </div>
                <% end %>
              </form>
            </div>

        </div>

      <div class="pull-left">
          <ul class="bmenu">
            <li><a href="#">For sale by owner does not mean by yourself</a></li>
            <li><a href="#">Buying and Showing Guides</a></li>
            <li><a href="#">Automated Marketing, Offers and negotiation</a></li>
            <li><a href="#">Huge Savings</a></li>
            <li><a href="#">Recommended Top Rated Pros</a></li>
            <li><a href="#">Automated showings</a></li>
            <li><a href="#">The simplest and most comprehensive way to buy and sell a home</a></li>
          </ul>
      </div>
    </div>


    <div id="welcomethird" class="marquee">

          <div class="row row-welcome">
            <ul class="bmenu">
            <div class="col-md-12">
              <li><a href="#"> <i class="fa fa-calendar fa-5x" aria-hidden="true"></i>
              <p>Set your own schedule to show or view a house.</p></a></li>
            </div>
            <div class="col-md-12">
              <li><a href="#"><i class="fa fa-comments fa-5x" aria-hidden="true"></i>
              <p>Comments for each property saves time for both sellers and buyers.</p></a></li>
              </div>
            <div class="col-md-12">
              <li><a href="#"><i class="fa fa-cog fa-5x" aria-hidden="true"></i>
              <p>Get help with inspections, mortgages and lawyers.</p></a></li>
              </div>
            <div class="col-md-12">
              <li><a href="#"><i class="fa fa-shield fa-5x" aria-hidden="true"></i>
              <p>Protect yourself from sketchy real estate agents.</p></a></li>
            </div>
            </ul>
          </div>

    </div>

    <div id="welcomefourth" class="marquee">

          <div class="row row-welcome">
            <ul class="bmenu">
                <div class="col-md-12">
                  <li><a href="#"><i class="fa fa-thumbs-o-up fa-5x" aria-hidden="true"></i>
                  <p>Get recommendations on price and offers to get the deal done!</p></a></li>
                </div>
                <div class="col-md-12">
                  <li><a href="#"><i class="fa fa-camera fa-5x" aria-hidden="true"></i>
                 <p>Rest easy knowing nobody can view your house with out photo id.</p></a></li>
                  </div>
                <div class="col-md-12">
                  <li><a href="#"><i class="fa fa-clock-o fa-5x" aria-hidden="true"></i>
                  <p>Save time by viewing houses without someone else's schedule.</p></a></li>
                  </div>
                <div class="col-md-12">
                  <li><a href="#"><i class="fa fa-credit-card fa-5x" aria-hidden="true"></i>
                  <p>Simple and affordable payment options.</p></a></li>
                </div>
            </ul>
          </div>

    </div>


    <div id="welcomefifth" class="marquee">

      <div class="row row-welcome">
        <ul class="bmenu">
            <div class="col-md-12">
              <li><a href="#"><i class="fa fa-usd fa-5x" aria-hidden="true"></i>
             <p>Save cash by cutting out the middleman.</p></a></li>
            </div>
            <div class="col-md-12">
              <li><a href="#"><i class="fa fa-heart fa-5x" aria-hidden="true"></i>
             <p>Find and save that perfect house and then make it a home.</p></a></li>
              </div>
            <div class="col-md-12">
              <li><a href="#"><i class="fa fa-map-marker fa-5x" aria-hidden="true"></i>
             <p>Automatic directions and appointments when viewing homes.</p></a></li>
              </div>
            <div class="col-md-12">
              <li><a href="#"><i class="fa fa-users fa-5x" aria-hidden="true"></i>
              <p>Support is always available to help.</p></a></li>
              </div>
        </ul>
      </div>

    </div>



    </div>
















<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="title">
          <h1><b>Zero. Agent. Fees.</b></h1>
        </div>

        <div>
          <h5>FSBO has never been easier!</h5>
          <h4>Remove the middleman.</h4>
          <h5>Moverable saves you thousands.</h5>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>












<script>
            $(window).load(function(){
                $('#myModal').modal('show');
            });
</script>