<div class="container-fluid">
  <div>
    <div>
      <%= link_to 'Create Listing', new_property_path, class: 'btn btn-primary btn-block' %>
    </div>

    <ul class="nav nav-tabs">
      <li><a data-toggle="tab" href="#buyer">Favorites</a></li>
      <li><a data-toggle="tab" href="#seller">My Listings</a></li>
      <li><a data-toggle="tab" href="#offers">Offers</a></li>
      <li><a data-toggle="tab" href="#advice">Advice</a></li>
    </ul>
  </div>


  <div class="tab-content">


    <div id="buyer" class="tab-pane fade in active">
      <% @favorites.each do |f| %>
          <% p = f.property %>
          <div class="container-fluid">
            <div class="row">
              <%= render partial: 'layouts/buyer_property_view', locals: {p: p} %>
            </div>
          </div>
      <% end %>
    </div>


    <div id="seller" class="tab-pane fade in active">
      <% @properties.each do |p| %>
          <div class="container-fluid">
            <div class="row">
              <%= render partial: 'layouts/property', locals: {p: p} %>
            </div>
          </div>
      <% end %>
    </div>

    <div id="advice" class="tab-pane fade in">
      <div class="">
        <%= render partial: 'properties/advice' %>
      </div>
    </div>

    <div id="offers" class="tab-pane fade in">
      <%= render partial: 'properties/offer' %>
    </div>


  </div>
</div>




