<div class="well" id="appointment-show">

    <div class="appointment-show">
      <div class="container-fluid">
        <div class="well">
            <div class="row">
          <p>Today: <%= Time.now.strftime("%m/%d/%Y %I:%M%p") %> </p>
              <hr />
            </div>

            <div class="row">
              <p>Appointment: <%= @slot.start_time.strftime("%m/%d/%Y %I:%M%p") %></p>
            </div>
          <hr />
            <div class="row">
              <p> Duration: 1 Hour</p>
              <hr />
            </div>
            <div class="row">
              <div class="timer">
                <br />
                <br />
                <p></p>
              </div>
            </div>
        </div>
      </div>

        <%=@lock%>
        <div class="row">

          <% if Time.now > @slot.start_time %>
              <%# Show buttons if the current time is after the slot start time (for testing purposes only) %>
    <%#=link_to "start showing", property_slot_appointment_unlock_path(@property, @slot, @appointment), class: 'btn btn-block', id: 'start_show' %>
          <%= form_for(@appointment, url: property_slot_appointment_path(@property, @slot, @appointment), method: :put) do |f| %>
              <%= f.hidden_field :avatar %>

              <%= f.submit 'Press here to take photo and start showing', :class => 'btn btn-primary btn-block', :id=>'snap',  accept:"image/*;capture=camera",:style =>'padding:20px;'%>

          <% end %>

          </div>
          <div class="row">
          <%= link_to "Press here to end showing", property_slot_appointment_lock_path(@property, @slot, @appointment), class: 'btn btn-danger btn-block', id: 'end_show',:style =>'padding:20px;' %>
        </div>
        <br />
      <br />

        <div class="row">
          <a class="btn btn-warning btn-block" style="padding:20px;" type="button" href="tel:+11111111">Panic</a>
        </div>
              <% else %>
          <h3 class="please-return">Please return 5 minutes before your appointment!</h3>
          <% end %>
        <br />
        <br />




        <!--
          Ideally these elements aren't created until it's confirmed that the
          client supports video/camera, but for the sake of illustrating the
          elements involved, they are created with markup (not JavaScript)
        -->
        <div class="video">



            <video id="video" width="640" height="480" autoplay>

              <%= form_for(@appointment, url: property_slot_appointment_path(@property, @slot, @appointment), method: :put) do |f| %>
                  <%= f.hidden_field :avatar %>

                  <%= f.submit 'Snap Photo', :class => 'btn btn-block', :id=>'snap',  accept:"image/*;capture=camera"%>

              <% end %>
            </video>

            <canvas id="canvas" width="640" height="480"></canvas>
        </div>

    </div>

</div>






<script>




  // clock jquery
  $(document).ready(function(){
      function getdate(){
          var today = new Date();
          var h = today.getHours();
          var m = today.getMinutes();
          var s = today.getSeconds();
          if(s<10){
              s = "0"+s;
          }

          $("p").text(h+" : "+m+" : "+s);
          setTimeout(function(){getdate()}, 500);
      }

      $("#snap").click(getdate);
  });

    // Grab elements, create settings, etc.
    var video = document.getElementById('video');

    // Get access to the camera!
    if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        // Not adding `{ audio: true }` since we only want video now
        navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
            video.src = window.URL.createObjectURL(stream);
            video.play();
        });
    }


    // Elements for taking the snapshot
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    var video = document.getElementById('video');

    // Trigger photo take
    document.getElementById("snap").addEventListener("click", function() {
        context.drawImage(video, 0, 0, 640, 480);
    });

    //convert canvas to data for upload
    var url = canvas.toDataURL('image/png');
    $("#appointment_avatar").val(url);



//  Example code for show and hiding a div between 7 and 4 pm
//  var d = new Date();
//  if(d.getHours() >= 7 && d.getHours() <= 15 ){
//      $(".open").show();
//      $(".closed").hide();
//  }
//  else {
//      $(".closed").show();
//      $(".open").hide();
//  }
//
</script>

