

<!--<div class="wrapper">-->
  <!--<ul class="breadcrumbs">-->
    <!--<li class="first"><a href="#" class="icon-home"></a></li>-->
    <!--<li><a href="#">1)Check what you can afford, get mortgage</a></li>-->
    <!--<li class="<%= current_user.progress_has_favorited? ? 'active' : 'next-step' %>"><a href="#">2)Search and Favorite Properties</a></li>-->
    <!--<li class="<%= current_user.appointments.any? ? 'last active' : 'next-step' %>"><a href="#">3)Book appointments to view</a></li>-->
    <!--<li><a href="#">4)view properties</a></li>-->
    <!--<li><a href="#">5)Make offer using offer wizard</a></li>-->
    <!--<li><a href="#">6)Send offer to attorney</a></li>-->
    <!--<li><a href="#">7)Deposit Moverable Escrow</a></li>-->
    <!--<li><a href="#">8)Pick home inspector</a></li>-->
    <!--<li><a href="#">9)Review inspection results</a></li>-->
    <!--<li><a href="#">10)Have attorney renegotiate if needed</a></li>-->
    <!--<li><a href="#">11)Schedule closing</a></li>-->
    <!--<li><a href="#">12)Close</a></li>-->
    <!--<li><a href="#">13)Pick mover </a></li>-->
  <!--</ul>-->
<!--</div>-->

<div class="">
  <ul class="breadcrumb">
    <li class="next-step">
      <span>Check what you can afford</span>
    </li>

    <li class="<%= current_user.progress_has_favorited? ? 'active' : 'next-step' %>">
      <span>Search and Favorite Properties</span>
    </li>

    <li class="<%= current_user.appointments.any? ? 'active' : 'next-step' %>">
      <span>Make appointments to view </span>
    </li>
    <li class="next-step">
      <span>View properties</span>
    </li>
    <li class="<%= current_user.properties.any? ? 'active' : 'next-step' %>">
      <span>Make offer</span>
    </li>
    <li class="next-step">
      <span>Send offer to attorney</span>
    </li>
    <li class="next-step">
      <span>Deposit Escrow</span>
    </li>
    <li class="next-step">
      <span>Pick home inspector </span>
    </li>
    <li class="next-step">
      <span>Review inspection</span>
    </li>
    <li class="next-step">
      <span>Have attorney renegotiate</span>
    </li>
    <li class="next-step">
      <span>Schedule closing </span>
    </li>
    <li class="next-step">
      <span>Close</span>
    </li>
    <li class="next-step">
      <span>Move </span>
    </li>
  </ul>
</div>