

<div class="thumbnail-small">
      <ul class="button">
      <button data-toggle="collapse" class= "btn btn-primary-listing" href="#viewfavs<%= p.id %>"><%= image_tag(p.photos.first.url, :size => "100x100") %> Open/Close <i class="fa fa-folder-open" aria-hidden="true"></i></button>
      </ul>
</div>


<div class="tab-content">
  <div id="viewfavs<%=p.id %>" class="collapse">

    <div>
      <ul class="nav nav-tabs" id="myTab">
        <li><a data-toggle="tab" href="#home<%= p.id %>"><span>Details: <%=p.address %></span> <i class="fa fa-folder-open" aria-hidden="true"></i></a></li>
        <li><a data-toggle="tab" href="#appointment<%= p.id %>"><span class="hidden-xs">Viewing Appointments </span><i class="fa fa-clock-o" aria-hidden="true"></i></a></li>
        <li><a data-toggle="tab" href="#buyer_questions<%= p.id %>"><span class="hidden-xs">Property Questions</span> <i class="fa fa-comments" aria-hidden="true"></i></a></li>
        <li><a data-toggle="tab" href="#adverts<%= p.id %>"><span class="hidden-xs">Services </span><i class="fa fa-truck" aria-hidden="true"></i></a></li>
      </ul>
    </div>





    <div class="tab-content">
      <div id="home<%= p.id %>" class="tab-pane fade in active">
        <div class="panel panel-home">
            <div class="row">

              <div class="col-md-4">
                <div class="panel -panel buyer">
                    <div id="map-container">
                      <div id="map-canvas">
                        <div class="google_map">
                           <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{p.map_address}&zoom=14&size=640x600&markers=#{p.map_address}&sensor=false" %>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>

              <div class="col-md-4">
                <div class="alert alert-info fade in">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>Tip!</strong> Click on the address below to start offer.
                </div>
                <h4> <%= link_to p.address, property_path(p), target: '_blank' %></h4>
                <%= p.city + "," %>
                <%= p.state + "," %>
                <%= p.zip %>
                <hr>
                <b><%= p.structure %></b>
                <hr>
                <H4><b><i><%= "$" + p.price.to_s.scan(/(?:\d*\.)?\d{1,3}-?/).join(',') %></i></b></H4>
                <hr>
                <p>Your Max Payment: <%= number_to_currency(current_user.prop_afford)%> per month</p>
                <p>This House Payment: <%= number_to_currency(p.monthly_payment) %> per month (.06% interest, 30 years)</p>
                <% if current_user.prop_afford >= p.monthly_payment %>
                    This property seems to be within max budget!
                    <i class="fa fa-flag-checkered" aria-hidden="true" style="color:green"></i>
                <% else %>
                    This property seems to be outside max budget!
                    <i class="fa fa-flag" aria-hidden="true" style="color:red"></i>
                <% end %>
                <hr>
                <b><%= p.beds.to_s + " " %>Beds -</b>
                <b><%= p.baths.to_s + " " %>Baths -</b>
                <b><%= p.lot.to_s + " " %>Acres</b>

                <hr>
                <%= p.description %>
                <hr>

                <p> Listed <%= (Time.now.to_i - Time.at(p.created_at.to_i).to_i) /60 /60 /24 %> Days Ago </p>
                <hr>
                <%= render partial: 'properties/favorite', locals: {p: p} %>
              </div>

              <div class="col-md-4">
                <div class="thumbnail">
                  <%= render partial: 'properties/photo', locals: {property: p} %>
                </div>
              </div>



            </div>


        </div>
      </div>


      <div id="appointment<%= p.id %>" class="tab-pane fade in">
        <div class="panel panel-appointment">
            <div class="row">

              <div class="col-md-12">

                <h4> <%= link_to image_tag('icons8-clock.png') + 'Book Your Viewing'.html_safe, property_path(p), target: '_blank', class: 'btn btn-default' %></h4>
                <%= render partial: 'properties/appointment', locals: {p: p, slot: @slot} %>
              </div>


            </div>
        </div>
      </div>
      <div id="buyer_questions<%= p.id %>" class="tab-pane fade in">

          <div class="row">
            <% comments = p.comments.order("created_at DESC").paginate(page: params[:comments_page], per_page: 3) %>
            <% if comments.any? %>
                <%= render partial: 'comments/dashboard_comment.html.erb',locals: {p: p, comments: comments} %>
            <% else %>
                Property has no comments
            <% end %>
          </div>
          <div class="row">
            <%= render partial: 'comments/form', locals: {p: p} %>
          </div>

      </div>
      <div id="adverts<%= p.id %>" class="tab-pane fade in">
        <div class="row">
          <%= render partial: 'properties/services', locals: {p: p, advertisements: @advertisements} %>
        </div>
      </div>


</div>

  </div>
</div>
<script>
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        var target = $(this).attr('href');

        $(target).css('left','-'+$(window).width()+'px');
        var left = $(target).offset().left;
        $(target).css({left:left}).animate({"left":"0px"}, 700);
    })
</script>
