<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to "", welcome_index_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "About", welcome_about_path %></li>
        <li><%= link_to "Dashboard", dashboard_path %></li>
        <li><%= link_to "Properties", properties_path %></li>
      </ul>
      <%= form_tag properties_path, method: :get, class: "navbar-form navbar-left", role: 'search' do %>
        <div class="form-group">
          <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'SEARCH' %>
        </div>
        <%= submit_tag "Search", class: 'btn btn-default' %>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        
    <div class="pull-right user-info">
      <% if current_user %>
      Hello <%= current_user.email %>! <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path, class: 'btn btn-default btn-navbar' %> or 
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-default btn-navbar' %>
      <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->


</nav>