<section class="container-fluid header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 header__content">
        <div class="header__group  move-logo">
          <a href="#" class="header__logo-wrapper">
            <a class="navbar-brand myLogo" href="#" title="Moverable">
              <%= link_to welcome_index_path do %>
                  <%= image_tag "Moverable.png", class:'myLogo hidden-xs' %>
              <% end %>
            </a>
          </a>
        </div>
        <body onload="getLocation()" />


        <div class="header__group">
          <div class="header__row">
            <div class="header__actions">
              <div class="header__contact-item">
                <i class="fa fa-map-marker header__contact-item__icon"></i>
                <h4 class="header__contact-item__label"><span class="header__contact-item__label header__contact-item__label--bold" id="demo" >123 Quicksale street</span> <span class="header__contact-item__label header__contact-item__label--accent"></span></h4>
              </div>

              <!--<div class="header__submit">-->
                <!--<%# link_to properties_path do %>-->
                    <!--<img src="/assets/i-apartment.png" alt="Submit Property" class="header__submit-icon hidden-xs">-->
                    <!--<p class="header__submit-link hidden-xs"> Search Properties </p>-->
                <!--<#end %>-->
              <!--</div>-->
              <!--<ul class="header__social hidden-xs">-->
                <!--<li class="header__social-item"><a href="#" class="header__social-link header__social-link&#45;&#45;linkedin"><i class="fa fa-linkedin"></i></a></li>-->
                <!--<li class="header__social-item"><a href="#" class="header__social-link header__social-link&#45;&#45;pinterest"><i class="fa fa-pinterest-p"></i></a></li>-->
                <!--<li class="header__social-item"><a href="#" class="header__social-link header__social-link&#45;&#45;twitter"><i class="fa fa-twitter"></i></a></li>-->
                <!--<li class="header__social-item"><a href="#" class="header__social-link header__social-link&#45;&#45;facebook"><i class="fa fa-facebook"></i></a></li>-->
              <!--</ul>-->
            </div>
            <div class="header__actions">
              <% if current_user %>
                  <%= link_to image_tag(current_user.avatar.url, class: "profile-round hidden-xs"), edit_user_registration_path %>
                  <%= link_to 'Sign Out',  destroy_user_session_path, method: :delete, class: "header__signup" %>
              <% else %>
                  <%= link_to 'Log In', new_user_session_path, class: "header__login" %>
                  <%= link_to 'Sign Up', new_user_registration_path, class: "header__signup" %>
              <% end %>
            </div>
          </div>
          <div class="header__row">
            <div class="header__contact">
              <!--<div class="header__contact-item">-->
                <!--<i class="fa fa-map-marker header__contact-item__icon"></i>-->
                <!--<h4 class="header__contact-item__label"><span class="header__contact-item__label header__contact-item__label&#45;&#45;bold" id="demo" >123 Quicksale street</span> <span class="header__contact-item__label header__contact-item__label&#45;&#45;accent"></span></h4>-->
              <!--</div>-->
              <!--<div class="header__contact-item">-->
                <!--<i class="fa fa-phone header__contact-item__icon"></i><a href="#" class="header__contact-item__label header__contact-item__label&#45;&#45;big">(800) 555-5555</a>-->
              <!--</div>-->
            </div>
          </div>
          <div class="header__row">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="navigation__content nav-content nav-row-2">
          <div class="menu__wrapper">
            <div class="menu__trigger">
              <div class="menu__trigger-line"> </div>
              <div class="menu__trigger-line"></div>
              <div class="menu__trigger-line"></div>
            </div>
            <ul class="menu">
              <li class="menu__item"><a href="#" class="menu__link">Home</a></li>
              <li class="menu__item"><a href="#" class="menu__link">
                <% if !current_user %>
                    <li><%= link_to 'About', welcome_about_path, class: "menu__link" %></li>
                <% end %>
                <% if current_user %>
                    <li><%= link_to 'Dashboard', dashboard_path, class: "menu__link" %></li>
                <% end %>
              </a></li>
              <li class="menu__item"><%=link_to 'Search', properties_path, class: "menu__link" %></li>
              <!--<li class="menu__item"><a href="#" class="menu__link">Buyers</a></li>-->
              <!--<li class="menu__item"><a href="#" class="menu__link">Listing</a></li>-->
              <!--<li class="menu__item"><a href="#" class="menu__link">Property</a></li>-->
              <!--<li class="menu__item"><a href="#" class="menu__link">Appointment</a></li>-->

            </ul>
          </div>

          <!--<div class="searchbar">-->
            <div>
              <% if current_user %>
                  <%= link_to 'Create Listing', new_property_path, class: '' %>
              <% end %>
              <button id="tour-demo" class="btn-none" data-demo>
                <!--<span class="glyphicon glyphicon-play"></span>-->
                Site Tour
              </button>
          </div>

           <!-- -->
          <!--</div>-->

        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<section class="container navigation">

</section>


<!--<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>-->
<!--<script src="js/app.js"></script>-->

<script>

    $( document ).on( 'click', '.menu__link', function ( e ) {
        $( this ).addClass( 'menu__link--active' ).siblings().removeClass( 'menu__link--active' );
    } );

//    $.each($('#menu-item').find('li'), function() {
//        $(this).toggleClass('menu__link--activ',
//                window.location.pathname.indexOf($(this).find('a').attr('href')) > -1);
//    });

//$(".menu__link").on("click", function(){
//    $(".menu__link").find(".menu__link--active").removeClass(".menu__link--active");
//    $(this).parent().addClass(".menu__link--active");
//});


// Geolocation in Navbar
    var x = document.getElementById("demo");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.watchPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }
    function showPosition(position) {
        x.innerHTML = "Latitude: " + position.coords.latitude +
                "<br>Longitude: " + position.coords.longitude;
    }





</script>