
<nav class="navbar navbar-default" data-spy="affix" data-offset-top="400" id="nav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to "", welcome_index_path, class: "navbar-brand" %>
      <h1><%= link_to "Bloc-Acres", welcome_index_path %></h1>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "About", welcome_about_path %></li>
        <li><%= link_to "Dashboard", dashboard_path %></li>
        <li><%= link_to "Properties", properties_path %></li>
      </ul>
      <%= form_tag properties_path, method: :get, class: "navbar-form navbar-left", role: 'search' do %>
          <div id="search" class="form-group">
            <%= text_field_tag 'search[full_search]', (params[:search][:full_search] if params[:search]), class: 'form-control', placeholder: 'SEARCH' %>
          </div>
          <%= button_tag type: 'submit', class: 'btn btn-default' do %>
              <span class="glyphicon glyphicon-home"></span>
              Search
          <% end %>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <%= form_tag properties_path, method: :get, id: 'search-field', class: "navbar-form navbar-left", role: 'search' do %>
            <%= select_tag 'search[structure]', options_for_select([['Structure',''], ['Townhome', 'Townhome'], ['Condo', 'Condo'], ['House', 'House'], ['Multi-family', 'Multi-family']], (params[:search][:structure] if params[:search])) %>
            <%= select_tag 'search[price]', options_for_select([['Price', ''], ['100000', '100000'], ['125000', '125000'],['150000', '150000'],['175000', '175000'],['200000', '200000'], ['225000', '225000'],['250000', '250000'],['275000', '275000'],['300000', '300000'],['325000', '325000'], ['350000', '350000'],['375000', '375000'],['400000', '400000']], (params[:search][:price] if params[:search]))%>
            <%= select_tag 'search[beds]', options_for_select([['Beds', ''], ['1', '1'], ['2', '2'], ['3', '3'], ['4', '4'], ['5', '5'], ['6', '6'], ['7', '7']], (params[:search][:beds] if params[:search]))%>
            <%= select_tag 'search[baths]', options_for_select([['Baths', ''], ['1', '1'], ['1.5', '1.5'], ['2', '2'], ['2.5', '2.5'], ['3', '3'], ['3.5', '3.5'], ['4', '4'], ['4.5', '4.5']], (params[:search][:baths] if params[:search])) %>
            <% button_tag type: 'submit', class: 'btn btn-default' do %>
            <% end %>
        <% end %>

        <div class="pull-right user-info">

          <% if current_user %>
              <%= current_user.email %>! <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          <% else %>
              <%= link_to "Sign In", new_user_session_path, class: 'btn btn-default btn-navbar' %> or
              <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-default btn-navbar' %>
          <% end %>
      </ul>
      </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->


</nav>
