
<div class="">
  <ul class="nav nav-tabs" id="myTab">
    <li><a data-toggle="tab" href="#home<%= p.id %>"> <%=p.address %> <i class="fa fa-folder-open" aria-hidden="true"></i></a></li>
    <li><a data-toggle="tab" href="#appointment<%= p.id %>">Showing Appointments <i class="fa fa-clock-o" aria-hidden="true"></i></a></li>
    <li><a data-toggle="tab" href="#schedule<%= p.id %>">Schedule <i class="fa fa-calendar" aria-hidden="true"></i></a></li>
    <li><a data-toggle="tab" href="#marketing<%= p.id %>">Marketing <i class="fa fa-users" aria-hidden="true"></i></a></li>
    <li><a data-toggle="tab" href="#pquestions<%= p.id %>">Property Questions <i class="fa fa-comments" aria-hidden="true"></i></a></li>
  </ul>
</div>


<div class="tab-content">

      <div id="home<%= p.id %>" class="tab-pane fade in active">
        <div class="panel panel-home">
          <div class="row">




            <div class="col-md-4">
              <div class="thumbnail">
                <%= render partial: 'properties/photo', locals: {property: p} %>
              </div>
            </div>



            <div class="col-md-4">

              <h3 class="sale__itme-name">  <%= p.address %></h3>
              <hr>
              <%= p.city + ',' %>
              <%= p.state + ',' %>
              <%= p.zip + ';' %>
              <hr>
              <ul class="sale__item-features">
                <li class="sale__item-features__item"><img src="/assets/i-room-bed.png" alt="Number of beds" class="sale__item-features__item-icon"> <span class="sale__item-features__item-label"><%= p.beds.to_s + " " %></span></li>
                <li class="sale__item-features__item"><img src="/assets/i-bathtub.png" alt="Number of bathrooms" class="sale__item-features__item-icon"> <span class="sale__item-features__item-label"><%= p.baths.to_s + " " %></span></li>
                <li class="sale__item-features__item"><img src="/assets/i-kitchen.png" alt="Number of kitchens" class="sale__item-features__item-icon"> <span class="sale__item-features__item-label"><%= p.lot.to_s + " " %></span></li>
              </ul>
              <hr>
             <%= p.structure %>

              <hr>
              <H3 class="" id="seller-price"><b><i><%= '$' + p.price.to_s.scan(/(?:\d*\.)?\d{1,3}-?/).join(',') %></i></b></H3>

              <div>


                <hr>
                <p class="" id="listed-ago-number"> Listed <%= (Time.now.to_i - Time.at(p.created_at.to_i).to_i) /60 /60 /24 %> Days Ago </p>
                <p class="footer__text">Moverable Suggested Price: $<%= p.price - (p.price * ((Time.now.to_i - Time.at(p.created_at.to_i).to_i) /60 /60 /24 /30).to_f*(0.01)).to_i %></p>
                <p class="footer__text">Would you like to turn on Auto Price? Without visits or offers in the last 90 days try Auto Price.</p>
              </div>
              <hr>
              <div>
                <i class="fa fa-heart-o" aria-hidden="true"> Your property has <%= pluralize(p.favorites.count, 'favorite') %>! </i>
              </div>
              <div>
                <i class="fa fa-clock-o" aria-hidden="true"> Your property has <%= pluralize(p.appointments.count, 'appointment') %>! </i>
              </div>
              <div>
                <i class="fa fa-comments-o" aria-hidden="true"> Your property has <%= pluralize(p.comments.count, 'comment') %>! </i>
              </div>
              <div>
                <hr>
                <p class="footer__text"><%= p.description %></p>
                <hr>
                <h4> <%= link_to 'Edit Listing', edit_property_path(p), class: 'btn btn-primary btn-block'%></h4>
              </div>
            </div>



            <div class="col-md-4">
              <div id="map-container">
                <div id="map-canvas">
                  <div class="google_map">
                    <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{p.map_address}&zoom=14&size=430x450&markers=#{p.map_address}&sensor=false" %>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

        <div id="appointment<%= p.id %>" class="tab-pane fade">
          <div class="panel panel-appointment">
            <div class="row">
              <div class="col-md-12">

              <%= render partial: 'properties/appointment', locals: {p: p, slot: @slot, appointment: @appointment} %>
            </div>
            </div>
          </div>
        </div>

        <div id="schedule<%= p.id %>" class="tab-pane fade">
          <div class="row">
            <%= render partial: 'properties/calendar', locals: {p: p} %>
          </div>
        </div>

        <div id="marketing<%= p.id %>" class="tab-pane fade">
          <div class="row">
            <%= render partial: 'properties/marketing' %>
          </div>
        </div>




        <div id="pquestions<%= p.id %>" class="tab-pane fade">
          <div class="row">
            <%= render partial: 'comments/comment', locals: {p: p} %>
          </div>
          <div class="row">
            <%= render partial: 'comments/form', locals: {p: p} %>
          </div>
        </div>


</div>




<!--&lt;!&ndash;<script>&ndash;&gt;-->
<!--//    $(function() {-->
<!--//        $('.well .well-sm .clearfix').matchHeight();-->
<!--//    });-->
<!--&lt;!&ndash;</script>&ndash;&gt;-->