<div class="row">

  <div class="col-md-4">
    <div id="map-container">
      <div id="map-canvas">
        <center><%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{p.map_address}&zoom=14&size=312x225&markers=#{p.map_address}&sensor=false" %></center>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="thumbnail">
      <%= image_tag(p.photo.url) if p.photo? %>
    </div>
  </div>

  <div class="col-md-2">
   <h4> <%= link_to p.address, property_path(p) %></h4> 
    <%= p.city + "," %>
    <%= p.state + "," %>
    <%= p.zip + ";" %>
  </div>

    <div class="col-md-2">
      <H3><b><i><%= "$" + p.price.to_s %></i></b></H3>
      <%= p.description %>
    </div>


  <div class="col-md-1">
    <p><center>Next Showing</center></p>
      <% p.slots.each do |s| %> 
        <b> <%= s.start_time.strftime("%-I:%M%p %B %-d, %Y") %> </b>
      <% end %>
  </div>

        <div class="col-md-1">
          <h4> <%= link_to "Edit Listing", edit_property_path(p), class: 'btn btn-success' %></h4> 
        </div>
</div>

          