<div>
  <ul class="nav nav-tabs" id="myTab">
    <li><a data-toggle="tab" href="#home<%= p.id %>">Home</a></li>
    <li><a data-toggle="tab" href="#appointment<%= p.id %>">Appointments</a></li>
    <li><a data-toggle="tab" href="#schedule<%= p.id %>">Schedule</a></li>
    <li><a data-toggle="tab" href="#marketing<%= p.id %>">Marketing</a></li>
  </ul>
</div>


<div class="tab-content">
  <div id="home<%= p.id %>" class="tab-pane fade in">
    <div class="panel panel-home">
        <div class="row">


          <div class="col-md-4">
            <div id="map-container">
              <div id="map-canvas">
                <center><%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{p.map_address}&zoom=14&size=312x225&markers=#{p.map_address}&sensor=false" %></center>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="thumbnail">
              <%= render partial: 'properties/photo', locals: {property: p} %>
            </div>
          </div>

          <div class="col-md-3">
            <h4> <%= link_to p.address, property_path(p) %></h4>
            <%= p.city + "," %>
            <%= p.state + "," %>
            <%= p.zip + ";" %>
            <br>
            </br>
            <b><%= p.beds.to_s + " " %>Beds -</b>
            <b><%= p.baths.to_s + " " %>Baths -</b>
            <b><%= p.lot.to_s + " " %>Acres</b>
          </div>

          <div class="col-md-2">
            <H3><b><i><%= "$" + p.price.to_s.scan(/(?:\d*\.)?\d{1,3}-?/).join(',') %></i></b></H3>
            <%= p.description %>
          </div>

          <div class="col-md-2">
            <h4> <%= link_to "Edit Listing", edit_property_path(p), class: 'btn btn-success' %></h4>
          </div>
      </div>
    </div>
  </div>

  <div id="appointment<%= p.id %>" class="tab-pane fade in active">
    <div class="panel panel-appointment">
        <div class="row">


          <div class="col-md-6">
            <%= render partial: 'properties/appointment', locals: {p: p, slot: @slot} %>
          </div>
          <div class="col-md-2">
            <h3><p>
              <center><%= "Entrance" %></center>
              </p></h3>
            <center><span class="glyphicon glyphicon-ok-circle" style="color:white"></span></center>
          </div>
          <div class="col-md-2">
            <h3><p>
              <center><%= "Exit" %></center>
              </p></h3>
            <center><span class="glyphicon glyphicon-ok-circle" style="color:white"></span></center>
          </div>
          <div class="col-md-2">
            <h3><p>
              <center><%= "Secured" %></center>
              </p></h3>
            <center><span class="glyphicon glyphicon-remove-circle" style="color:red"></span></center>
          </div>

        </div>
    </div>
  </div>

  <div id="schedule<%= p.id %>" class="tab-pane fade in active">
    <div class="row">

      <%= render partial: 'properties/calendar', locals: {p: p} %>

    </div>
  </div>

  <div id="marketing<%= p.id %>" class="tab-pane fade in active">
    <div class="row">

      <%= render partial: 'properties/marketing' %>

    </div>
  </div>


</div>




<script>
    $(document).ready(function () {
        $(".nav-tabs a").click(function () {
            $(this).tab('show');
        });
    });
</script>

        