
    <div class="panel panel-marketing col-md-12">
      <p id="notice"><%= notice %></p>


        <% @products.each do |product| %>
          <div class="col-md-3">
            <div class="panel panel-default">
              <%= image_tag product.image.url, class: "profile-round" %>

              <div>
                <b><%= product.title %></b>
              </div>
              <div>
                <p class="footer__text"><%= product.description %></p>
              </div>
              <div>
                <a href="/cart/<%= product.id %>" style="text-decoration:none;">
                <div class="btn btn-default btn-block">
                  <h3><%= number_to_currency(product.price, :unit => '$')%></h3>
                  Add To Cart
                  <span class="glyphicon glyphicon-shopping-cart" style="vertical-align:middle"></span>
                </div>
                </a>
              </div>

            </div>
          </div>
        <% end %>
    </div>
      <div>

        <% if @cart.empty? %>
            <b>Cart is empty</b>
        <% else %>
            <%= link_to cart_clear_path, class: 'btn btn-primary'  do %>
                Empty Your Cart <i class="glyphicon glyphicon-trash"></i>
            <% end %>
        <% end %>
        <br><br><br>
        <% total = 0 %>


          <% @cart.each do | id, quantity | %>
              <% product = Product.find_by_id(id) %>
              <div class="well well-sm">
                  <ul>
                    <li>
                      <%= link_to product.title, product %>
                      <p><%= product.description %></p>
                      <p><%= number_to_currency(product.price, :unit => '$')%></p>
                      <p>Quantity: <%= quantity %></p>
                    </li>
                  </ul>
              </div>
              <% total += quantity * product.price %>
          <% end %>
          <div class="well well-sm">
            <p><b>Order Total: <%= number_to_currency(total, :unit => '$') %></b></p>
          </div>
          <%= form_tag store_charges_path do %>


              <script class='stripe-button' src="https://checkout.stripe.com/checkout.js"
                      data-key="pk_test_cRzT97SZoD13r1a2JB1eHZH9"
                      data-amount=<%= number_to_currency(total, :unit => '$') %>
                              data-email="<%= current_user.email %>"
                              data-description="Cart">
                              </script>
          <% end %>

      </div>


