<!-- Based off the original date picker: http://bootsnipp.com/snippets/featured/simple-datepicker-with-momentjs -->
<%= include_gon %>

  <div class="row">
      <div class="date-picker"  data-date="2014-02-03">
        <div class="date-container">
          <h4 class="month">
            <span data-toggle="datepicker" data-method="subtract" data-type="M" class="fa fa-angle-left"></span>
            <span class="text">December</span>
            <span data-toggle="datepicker" data-method="add" data-type="M" class="fa fa-angle-right"></span>
          </h4>
          <h4 class="date">
            <span data-toggle="datepicker" data-method="subtract" data-type="d" class="fa fa-angle-left"></span>
            <span class="text">17th</span>
            <span data-toggle="datepicker" data-method="add" data-type="d" class="fa fa-angle-right"></span>
          </h4>
          <h4 class="hour">
            <span data-toggle="datepicker" data-method="subtract" data-type="Hour" class="fa fa-angle-left"></span>
            <span class="text">"12:00"</span>
            <span data-toggle="datepicker" data-method="add" data-type="Hour" class="fa fa-angle-right"></span>
          </h4>
          <div id="" class="well">
            <div class="timepicker_stripe">






                        <%= form_tag(charges_path, remote: true ) do %>
                            <%= hidden_field_tag :slot_id  %>
                            <%= hidden_field_tag :property_id, @property.id %>
                            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                            <input type="hidden" id="dateinput" name="date" value="DateTime" >

                        <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="pk_test_cRzT97SZoD13r1a2JB1eHZH9" data-amount=<%= 10_00 %> data-description="Viewing"></script>

                        <% end %>



            </div>

          </div>
        </div>
      </div>

  </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.js"></script>






