


<div id="account-info" class="container-fluid">


  <div class="well well-xl">

    <div class="well well-sm">
      <h4>User Account Information</h4>
    </div>
    <div class="well">
      <div class="row">
        <%= render partial: 'layouts/account_edit' %>
      </div>
      <div class="row">
        <p> Name: <%= current_user.name %></p>
      </div>
      <div class="row">
        <p> Email: <%= current_user.email %></p>
      </div>
      <div class="row">
        <p> User role: <%= current_user.role %> </p>
      </div>
      <div class="row">
        <p> Number of listings: <%= current_user.properties.count %>

        </p>
      </div>
      <div class="row">
        <p> Phone number: <%=number_to_phone(current_user.phone_number, area_code: true) %></p>
      </div>
      <div class="row">
        <p> Last Sign In: <%= current_user.last_sign_in_at.strftime("%B %e, %Y at %I:%M%p ") %> </p>
      </div>
      <div class="row">
        <p> Listing Plan: Bronze - Gold - Platinum </p>
      </div>
      <div class="row">
        <p> Subscription: <%= current_user.subscribed %></p>
      </div>
      <div class="row">
        <p> Payment Plan: Monthly or One-time </p>
      </div>
      <div class="row">
        <p> Credit Card Info: xxxxxxxxxxxxxxxxx</p>
      </div>
      <div class="row">
        <p> Favorited Houses: <%= current_user.favorites.count %></p>
      </div>
      <div class="row">
        <p> Time Zone: <%= current_user.time_zone %></p>
      </div>
      <div class="row">
        <p> Saved Search Parameters: <%= current_user.saved_search %></p>
      </div>
      <div class="row">
        <p> Recent order info:
          <% @past_purchases.each do |p| %>
            <%= p.description %>
          <% end %>

        </p>
      </div>


    </div>

  </div>
</div>