<!DOCTYPE html>
<html>

<head>
  <title><%= @title || "Default Page Title" %></title>
  <%= Gon::Base.render_data %>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>




  <%= csrf_meta_tags %>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
  <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>



</head>

<body>

<%= render partial: 'layouts/navbar' %>




      <% if flash[:notice] %>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:notice] %>
          </div>
      <% elsif flash[:error] %>
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:error] %>
          </div>
      <% elsif flash[:alert] %>
          <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:alert] %>
          </div>
      <% end %>

      <%= yield %>






<footer class="footer">
  <div class="container">
    <span class="text-muted">
      Moverable &copy 2015 |
      Help |
      Tel: 1 (800) 333-7638 |
      Other stuff
    </span>


  </div>
</footer>




</body>

</html>

